<div class = "s-common-tab-div-content">
    <h3>Ayn Rand</h3>
    <img style = "width: 100%" src="https://i.postimg.cc/W1dZxNG7/104586840-STEWART-COLUMN.jpg" alt="Ayn Rand" />
    <p class="light" style = "text-indent: 30px;">
        Ayn Rand’s real name is “Ayna Rand”, she changed “Ayna” to “Ayn” for she felt the previous name was so feminine(soft). She is basically from Russia who knows the atrocities caused by the communism of Russia soviet. From childhood she was intelligent and started writing around the age of 12. She was so fascinated by American economy and their advancement in society that she had gone to America and started working in film industry. Her major subject was History to know what has happened previously and other subject she studied is philosophy to have some basic idea for she want to change it and write her own philosophy and she did it.
    </p>
    <p class="light" style = "text-indent: 30px;">
        All she had done is to think and analyse why America is the way it is and why Russia and other countries are the way they are. What difference she had found is there is more productivity, less politics, more capitalism, value to the each individual and above all she found the main tenet which she stresses over and over is; “Objectivism”: "the concept of man as a heroic being, with his own happiness as the moral purpose of his life, with productive achievement as his noblest activity, and reason as his only absolute".
    </p>
    <p class="light" style = "text-indent: 30px;">
        Ayn Rand is the one who told that in love, the transaction is virtue between the two persons, she is the one who told that money is not the root of evil, but is the root of all productivity in humans' life, she is the one who told that being selfish is a good thing and is the way a person can live happily, she is the one who told to think rationally and live by logic but not by arbitrary whims or faith, she is the one who told that pain/suffering can only go down to a certain point.
    </p>

    <h3>Atlas Shrugged</h3>
    <p class="light" style = "text-indent: 30px;">
        In 1991 the Book of the Month Club and Library of Congress asked readers to name the most influential book in their lives: Atlas Shrugged came in second only to the Bible.
    </p>
    <p class="light" style = "text-indent: 30px;">
        The book starts with the question "Who is John Galt?"
    </p>
    <p class="light" style = "text-indent: 30px;">
        He's the man who opposed the idea of communism(the money will be pooled and will be given to employees on a need basis and not on the quality and amount of work the person does) in an industry where he works, in front of 6000 employees who all agreed to it and he was the only one who opposes it and quits that company.
    </p>
    <p class="light" style = "text-indent: 30px;">
        He's the one who invents new source of energy(atmospheric static electricity), he's the one who invents new radio signals and intercepts all of radio and TV channels in the country and give speech to the country non-stop for 3 hours on life and everything and what is wrong with current society(similar to Indian politics). Ayn Rand, could think of technologies like free energy, a network similar to 5G, metal stronger than steel, etc. in 1940’s.
    </p>
    <p class="light" style = "text-indent: 30px;">
        It took her 14 years to write this book and initially she thought it would take only 2 years to complete it. She had other writings, but her major novels are only 2; one is “Fountain Head” and the other is this book. In her words “Fountainhead, was merely an overture to Atlas Shrugged”
    </p>
    <p class="light" style = "text-indent: 30px;">
        One of the famous line repeated in this book is “Contradictions do not exist. Whenever you think you are facing a contradiction, check your premises. You will find that one of them is wrong.”
    </p>
    <p class="light" style = "text-indent: 30px;">
        The book is divided into 3 parts, In the first part, people who can work, who can use their mind, who are the root to productivity and who contributes to the society indirectly by their selfishness, start disappearing and slowly the American economy will start to collapse. This is a time where American railways are still not nationalised
    </p>
    <p class="light" style = "text-indent: 30px;">
        In the second part, some people who were blindfolded by their government and by themselves slowly start realising what was happening and they will still be in a confused state. Slowly every industry will be nationalised and the patents of great work of great people will be deprived and the society goes towards communism. There will be Washington people’s(government’s) penetration in each and everything, even they themselves don’t realize that what they are doing is wrong and it’s affecting the society.
    </p>
    <p class="light" style = "text-indent: 30px;">
        (Spoiler alert: people who want to read this book, don’t read this paragraph)
In the third part, it will be revealed where these productive people have gone and that place is “Atlantis”. It’s a valley which is camouflaged by technology and others can’t perceive it. It’s a place where rational people exist, it’s a place where productivity exists, where individuality exists. In this part, the main Protagonist speaks at length for 3 hours and it’s broadcasted to the entire country. He speaks about morality, mind, survival, process of thinking, rationality, virtues, good and evil, purpose of life, happiness, hatred-eaten mystics, consciousness, logic, contradiction, freedom, independence, integrity, honesty, justice, productiveness, pride, pleasure and pain, satisfaction, relationships, values, death, faith and reason, selfishness, virtue of sacrifice, self-esteem, love, civilization, industries, senses, revolt, desire, axiom of existence, business, barter system, trading, guilt, achievement, human rights, ideal functionalities of government, employment, blackmail, struggle, etc. The book ends with a failure of economy by the government and is a start of new economy.
    </p>
    <p class="light" style = "text-indent: 30px;">
        This book makes people think, people can even understand why the Indian railways are the way they are even if it’s not mentioned in the book. This book makes people think rationally, it will evoke a respect for one’s own life. It has a total of 1168 pages with intense philosophy. When someone asks Ayn Rand in an interview about what her philosophy(objectivism) is, she replies by saying that she wrote more than 1000 pages to express her philosophy and telling that in few minutes will not do justice to her philosophy.
    </p>
    <p class="light" style = "text-indent: 30px;">
        I might have read less number of books, but out of them “Fountain Head” and “Atlas Shrugged” are the best books that I ever read in my life.
    </p>
</div>