<div class = "s-common-tab-div-content">
  <p class="light" style = "text-indent: 30px;">
    <i>Note: this is just a thought process of how people with suicidal tendency thinks</i>
  </p>
  <p class="light" style = "text-indent: 30px;">
        Reeth stabbed himself. He was high with toxic materials in his body and is not so high that he will do stupid things by it, however the pain proliferated through his entire body that made him think to kill himself. He was not sure for what particular reason he stabbed himself for he has various variants of his only reason. He’s sitting in a dark room alone gazing at nothingness on a wall.
      <br>He’s no more interested in anything else. He thought he’s so intelligent and can overcome
      anything but got caught by stupidest and the most uncontrollable thing in the world.
      <br>Not having power to modify the fate or people’s mind, he felt defeated in life. He really didn’t care about anything much in life and was a happy person like everyone else until one day he was swept away by an inexplicable feeling.
      <br>His heart struggled to beat, blood started flowing from his body gradually. He’s still worried about that one thing in his life which he can’t have. He started to compare his physical pain with the other and trying to clear up his mind and tried to be happy atleast few minutes before his death.
  </p>
  <p class="light" style = "text-indent: 30px;">
    He still didn’t lose his consciousness, now he really didn’t care about future or past he’s trying to analyse himself. In retrospect, almost all the time he was in pain. He thought to himself, “I wanted many things in life and now I came to a situation where I only need one thing, maybe in future I will not want this also. That longingness, it feels like the whole universe is going against me”. Then again he smiled thinking about his own stupid thoughts.
    <br>He thought “how can one not want what they want or want what they not want?”, this question really made him ponder over for a long time. He remembered all the emotional intelligence funda, but never could find any answer. He is still trying to find an answer. He thought at least he can think of the next best thing to do in life but couldn’t for he was totally into her. 
    <br>All his life he laughed at problems except this. 
  </p>
  <p class="light" style = "text-indent: 30px;">
    Thinking that he is in control of everything, once swept away by the light of love and then swept away by heavy emptiness, thinking what is in the purview of his hands and what is not, thinking not knowing what to think, most of his memories fading away and few of his memories becoming intense, going through the inexplicable pain, wanting to discuss with fellow humans of what he is going through though knowing that it will be futile, never being afraid of anything much except the perpetual fear of not having that what he wants which he considers that it’s the only thing, he suffered in silence, in pain, in solitude, never knowing that he will experience this in his life, thinking that whether he can still bear this in this life.
  </p>
</div>