<div class = "s-common-tab-div-content">
  <h2 class="light">
    Vietnam from India:
  </h2>
  <p class="light" style = "text-indent: 30px;">
    We can start from north (Hanoi) or south Saigon - Ho chi minh city. 
    <br>In the south there are few places to see like Cu chi tunnels, mekong delta which are okay to go.
    <br> There is one walking street Bui vien which is a bit noisy and crowded. We can spend time here based on mood.
    <br> In the mid, the major location is Danang, it connects to bana hills and Hoi An village.
    <br> Ba na hills has one of the longest cable ride which has very good view. It connects to the hill which has various attractions and activities. It's a french village on hill, very beautiful location. We have to check for weather condition before going there.
    <br> Almost all the locations will have tour packages which can be bought in hostels or some agencies, it's better to compare the price while booking.
    <br> Hoi An is a small beautiful village, which has beach. This is good for couple photoshoots and to relax if the time permits. Most of the cafes and restaurants would want customers to stay for a long time unlike in India.
    <br> In the north, we have capital city "Hanoi", it's so vibrant. This city connects to Halong bay, we can book the tour package for cruise. It's one of the most beautiful location with natural rock formations I have ever seen.
    <br> There is another important location Tam coc which is a must visit. Better to plan to visit this place when there would be lotus in the month of june.
    <br> The one place which I missed and have to be explored is sapa which has rice terrains and heard that it's very beautiful.
  </p>
  <p class="light" style = "text-indent: 30px;">
    Visa/Permit: Apply for e-visa online from their official website, entire process is online. [Subject to change]
  </p>
  <p class="light" style = "text-indent: 30px;">
    Stay: Hostels are pretty cheap and fun, sometimes, we can find dormitory for 700rs with morning buffet and might get a free beer in the evening. Some hostels have swimming pools and some activities going on in the evening, better to stay in hostels only if you are traveling with friends or solo.
  </p>
  <p class="light" style = "text-indent: 30px;">
    Currency: We have to take dollars from here and in some places dollars are accepted, better to evaluate which. Niyo card can be used to withdraw Vietnam dongs, as usual there will be a charge for each transaction around 500rs, the trick is to withdraw maximum money when a citibank ATM is available.
  </p>
  <p class="light" style = "text-indent: 30px;">
    Travel: by air is cheaper and no hassle at all. Can use grab bike for travel. In places like Hoi An, we can rent bike, need to be so conscious as we have to ride right side of the road.
  </p>
  <p class="light" style = "text-indent: 30px;">
    Food: For people who doesn't want to try new things, this would be a bit difficult. You can find wide variety of non veg food items especially sea food for cheaper rates.
  </p>
  <p class="light" style = "text-indent: 30px;">
    Culture: Most of the people here are calm and respectable. After being through war, each and every individual is so patriotic and very sensitive about what their history and what they have gone through. There are no distortions in their history. Museums are well maintained. everyone wants their country to develop. Some of the tourism aspects are taken from Thailand.
  </p>
</div>