<div class = "s-common-tab-div-content">
    <h3>Chapter 1: Two friends</h3>
    <p class="light" style = "text-indent: 30px;">
        “Hey you are looking totally exhausted, I think you need some rest”  said Reeth.
    </p>
    <p class="light" style = "text-indent: 30px;">
        “No, I don’t want  to stop and wanna run more and it is the way I’ll do with my life”, snapped Ann.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Now both are sitting on the ground filled with grass and it is almost getting dark and stars are about to appear in the sky, they are surrounded by full of small plants and big trees here and there. After some time Reeth observed the reflection of moon in the pond which is beside ‘em, and he started looking at the moon.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Ann was looking at Reeth thinking about what he is thinking. Both  were silent for almost five minutes and at last her mother called up, ”come on hunny it’s getting late!” from a house which is near to the ground where they were, Reeth’s house was also nearer and both houses were side by side.
    </p>
    <p class="light" style = "text-indent: 30px;">
        “okay then, I gotta go and don’t think much” she continued “see you tomorrow morning and good night.”
    </p>
    <p class="light" style = "text-indent: 30px;">
        Now she is walking towards her home and Reeth was staring at her. He sat on the ground looking at the moon and thinking about her for half n hour, but no one called from Reeth’s house.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Ann’s mother is Katie pensly a middle aged woman and has a perfect body with thick hair and fair color. Ann loves her mother very much , she is very patient especially with of Ann. Her father left her mother when she is at the age of five and both didn’t even feel a scintilla of sadness for him. Katie has no one in the world except Ann and she loves her very much, they both live happily.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Ann is a skinny girl with bright blue eyes, pony tail on her head and almost resembles her mother. She is very loquacious, querulous and always annoys her mother, she is even cogent and can persuade anyone to do what she want with her cute little face except Reeth. She always stands first in the class and many boys in the class are infatuated to her as she is very beautiful. She is very young not more than …years and studies …. Class in the school.
    </p>
    <p class="light" style = "text-indent: 30px;">
        She is very brilliant in school and if any teacher asks any question she will be the first person in the class to raise hand even if she don’t know the answer. Many girls didn’t like her because she is a strut and always roams through the school corridors strutting with a pony tail on her head. Some think she is pathetic and some other think she is apathetic, but only Reeth knows who she really is.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Reeth has a dull face but has bright eyes, he is very perspicacious, versatile and more dexterous but never used his talents. He is only a dilettanti. He is never satisfied with his family, school or anything except friendship with Ann. He is always in frustration and an insomnia patient, he never really laughs and never really cries.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Next day morning Ann has already woke up before Reeth and was cooking in the kitchen and simultaneously reading some book, but Reeth didn’t wake up yet.
    </p>
    <p class="light" style = "text-indent: 30px;">
        “Come on!get up,it’s getting late.” His mother snapped.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Reeth woke up with great difficulty and got ready for the school. He had his breakfast which he didn’t like, wore his uniform which he didn’t like as they are hand me down stuff. He took out the bycycle and waited for Ann on the road.
    </p>
    <p class="light" style = "text-indent: 30px;">
        It is very cool with cool breezes and still dark as it is winter. The falling of snow has not stopped yet. He felt somewhat relieved after seeing her coming. They both rode off on bycycles. They passed small houses with green gardens and the road is empty with street lights still on. After some time they are on a bridge which is fifty feet high from the water. They had to cross that every day to reach the city and their school.
    </p>
    <p class="light" style = "text-indent: 30px;">
        “Hey! Who do you think reaches the school first?” Ann asked.
    </p>
    <p class="light" style = "text-indent: 30px;">
        “I dunno!” Reeth shouted.
    </p>
    <p class="light" style = "text-indent: 30px;">
        She is accelerating her speed now and Reeth is thinking that she is gone crazy. Both were racing up now, but as to our surprise Reeth is in leading position, he looked back at her and she is shouting ”I’ll not let you,….”
    </p>
    <p class="light" style = "text-indent: 30px;">
        By looking at her, Reeth slowed down intentionally and at last Ann won the race.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Ann is jumping and shouting at the school gate ”I won …I won”. Reeth is saying nothing and started to stare at her again. On the other side watchman was looking at her as if she is a cat playing with a ball.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Reeth was also wearing white shirt and he is unable to control himself and his heart hovered in the air for a moment. After this, they both entered into the class, many pupils greeted Ann but only few greeted Reeth which were more affectionate than her’s. In the school they both behave as if they don’t know each other.
    </p>
    <p class="light" style = "text-indent: 30px;">
        There is a mess in the class as there is no teacher yet, especially Ann was shouting and laughing with her fully expanded lips. One guy who was stout started to criticize Ann and she almost started to cry because he was asking about her father. Just then Reeth came with his two friends and the other guy with his gang fled away.
    </p>
    <p class="light" style = "text-indent: 30px;">
        At 2’O clock the classes are finished are finished, they spent some time in library and after this they played football. They rode back to their houses very tired. Reeth didn’t even go to his house and directly went to their spot and started reading some school stuff. After half n hour Ann came from her home with a tight capri pants and a pink tshirt.
    </p>
    <p class="light" style = "text-indent: 30px;">
        “Reeth! didn’t you go to your home?” asked Ann.
    </p>
    <p class="light" style = "text-indent: 30px;">
        “why are you so concerned about my home?” said Reeth.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Reeth was silent for a moment and said “you don’t know about my family”
    </p>
    <p class="light" style = "text-indent: 30px;">
        Ann chuckled and said “you should love ‘em and do you know one thing, I love my mom and she is very sweet” she continued “one more thing, why did you come in the middle of us?, if not for you, I would have beat that loathsome fool.”
    </p>
    <p class="light" style = "text-indent: 30px;">
        “yeah…yeah…I know”   answered Reeth.
    </p>
    <p class="light" style = "text-indent: 30px;">
        For some time they discussed about their homework, school and friends. They laughed. Ann saw Reeth’s laugh after two days.
    </p>
    <p class="light" style = "text-indent: 30px;">
        They again had a race and as usual Ann won. She was dancing and playing with her cat near the pond. Reeth started staring at her again.
    </p>
    <p class="light" style = "text-indent: 30px;">
        She caught her cat bubbles with two hands and started walking towards Reeth. He diverted his sight from her pretending as if he is seeing somewhere else.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Again both sat on the ground, as it is very cold Ann came closer to Reeth and held his hand. Reeth can feel cool breezes and pleasant fragrance of her. Ann’s hair is floating in the air touching him and he can feel the warmth of her body, but didn’t utter a single word.
    </p>
    <p class="light" style = "text-indent: 30px;">
        “Really, I felt very sad in the morning when he was speaking rubbish”
    </p>
    <p class="light" style = "text-indent: 30px;">
        “Just ignore him” said Reeth.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Meanwhile her cat was playing and hunting insects in the grass.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Suddenly they noticed a flash of light from the woods which are nearer to the ‘em. Some creatures are flying in the sky which came from the woods and they have no idea what’s happening. The creatures are very different compared to common birds.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Ann was terrified, but Reeth didn’t bother much about that. She is asking Reeth, “Let us go and inform our parents about this.”
    </p>
    <p class="light" style = "text-indent: 30px;">
        Reeth chuckled and said “Are you mad! lets go and check what’s happening”
    </p>
    <p class="light" style = "text-indent: 30px;">
        “No”
    </p>
    <p class="light" style = "text-indent: 30px;">
        “Why? are you afraid?”
    </p>
    <p class="light" style = "text-indent: 30px;">
        “Not at all!”
    </p>
    <p class="light" style = "text-indent: 30px;">
        “then why are you hesitating to come?”
    </p>
    <p class="light" style = "text-indent: 30px;">
        “I’ll come!” she shouted.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Both of them went into the woods first followed by Ann and then Bubbles. Ann was walking steadily, pretending that she is not afraid.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Now both were in the deep forest and not able to see anything clearly. After ten minutes of walking they found a small lake which was glowing like sunshine in the middle of the forest.
    </p>
    <p class="light" style = "text-indent: 30px;">
        “let’s go and check it out” said Reeth.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Even though she is afraid and have a thought of having spirits and devils there, she continued to move forward to save her pride.
    </p>
    <p class="light" style = "text-indent: 30px;">
        The lake was glowing like a big diamond surrounded by thick trees. Suddenly they felt that some force is attracting ‘em towards that lake. They have no idea of what is happening.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Reeth is also afraid now, and told Ann to run back. He also turned back and started to run, but they are not able to do it, because they were getting pulled by some force from that lake. Suddenly there was whirling of water in the lake and whirling of air absorbing everything surround them.
    </p>
    <p class="light" style = "text-indent: 30px;">
        Reeth caught Ann’s hand and with the other hand he caught the tree, Bubbles have already fallen into the water.
    </p>
    <p class="light" style = "text-indent: 30px;">
        “Bubbles……..” she shouted.
    </p>
    <p class="light" style = "text-indent: 30px;">
        After some time the intensity of the force increased and Reeth was thinking only about Ann’s life, she was crying as she saw bubbles squeezed and absorbed into the water. They were not in a position to think about anything and after some time the intensity of the force of wind and the force of lake increased further and Reeth lost his grip and shouted “ANN………..!”
    </p>
    <p class="light" style = "text-indent: 30px;">
        Now both are in the whirling water and they can feel expanding of their bodies but no pain. Reeth didn’t lose her hand yet and was looking at her eyes in the water. He thought they will be dead and he’ll lose her. Ann lost her consciousness already and Reeth is also losing his consciousness and going to deep sleep. The last thing he remembered is Ann’s face.
    </p>
  </div>




