<div class = "s-common-tab-div-content">
        
      <h5 class = "s-unrequited">Unrequited Love, Undisguised Frustration, Loving Hate, Serious Vanity, Misshapen Chaos, Perpetual Bliss, Excruciating Pain, Chronic Desolation, Exquisite Beauty, Secret Suffering, Romantic Hedonism...</h5>

      <h3>Self</h3>
      <div class = "s-writes-links">
        <a class = "s-link" href = "#self-written">Quotes & stuff</a>
        <a class = "s-link" href = "#fountain-head">Fountain Head Review</a>
        <a class = "s-link" href = "#s-psyche">Psyche</a>
        <a class = "s-link" href = "#s-reasoning">Reasoning of thoughts</a>
        <a class = "s-link" href = "/writes/unexpected-journey">Unexpected Journey</a>
        <a class = "s-link" target = "_blank" href = "https://medium.com/@sree2chin/integration-of-google-pay-tez-in-freshmenu-ca777f53d39d">Google pay Integration</a>
      </div>
      <h3>Others</h3>
      <div class = "s-writes-links">
        <a class = "s-link" href = "#s-ayn-rand">Ayn Rand</a>
        <a class = "s-link" href = "#s-marcus-aurelius">Marcus Aurelius</a>
        <a class = "s-link" href = "#beautiful-words">Beautiful words</a>
        <a class = "s-link" href = "#paulo-coelho">Paulo Coelho</a>
        <a class = "s-link" href = "#dale-carnegie">Dale Carnegie</a>
        <a class = "s-link" href = "#unsorted">Unsorted</a>
      </div>
      
      <h4 id = "self-written">Self</h4>
      <p class="light" style = "text-indent: 30px;">
        An angel with innocent eyes and heavenly smile has been descended to earth letting me contemplate her exquisite beauty, made my soulless soul soulful, made my heart take over my consciousness and made me realise that this incarnation is not about petty worries but about love.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Thou art stupid if thou think that thee know everything.      
      </p>

      <p class="light" style = "text-indent: 30px;">
        The time I wanted to ridicule the word love in my mind and beginning to hate myself and my life is the same time my throbbing heart wanted to say "I love you" to you.
      </p>

      <p class="light" style = "text-indent: 30px;">
        Perpetual Bliss: An absolute state where you feel completely contented and there is neither a need to talk nor act, it's a state where you just be still and contemplate the beauty thinking of nothing else.
      </p>

      <p class="light" style = "text-indent: 30px;">
        Spellbound by her beauty, he ran towards her all his life, but could never get close to her. It's as if he is running towards a place where earth and sky meet.
      </p>

      <p class="light" style = "text-indent: 30px;">
        Religions are just ancient political parties, where the rules for better living are not be followed by logic or fear of legal system, but by the faith and fear of unseen God.
      </p>

      <p class="light" style = "text-indent: 30px;">
        If only people can realise that not even a single person on earth perceived God of any of the religion in any way, most of the problems in the world will be resolved
      </p>

      <p class="light" style = "text-indent: 30px;">
        Most of the time, we just don’t know what we don’t know.
      </p>

      <p class="light" style = "text-indent: 30px;">
        There comes a time where there is scarcity of food, air, water and the entire world is polluted. People may come out of regional and religious biases and also they may converse directly without hiding anything and lesser taboos.
      </p>

      <p class="light" style = "text-indent: 30px;">
        What you do now is what your life is.
      </p>

      <p class="light" style = "text-indent: 30px;">
        People say that death happens in fraction of a second, what we don’t recognize is that we are all in the process of death or going towards death which we can not obviate. From the moment we came onto this land, it is decided that in few years we had to die. It’s not a fraction of second, it’s years. Life is death. The question we should ask ourselves is what would we do in the little time we have before or in the process of death.
      </p>

      <p class="light" style = "text-indent: 30px;">
        If you are not doing what you want or are not sure what you want, you are always waiting for something superficial which you will never get in years to come in your life.
      </p>

      <p class="light" style = "text-indent: 30px;">
        Pouring rain, tears in eyes, going forward without any destination for he lost the one thing that he wants in life, lost hope to search for something against his will, he moved on without any purpose in a stateless mind.
      </p>

      <p class="light" style = "text-indent: 30px;">
        Secret suffering: Of course physical pain is terrible than mental pain, however physical pain subsides with time and the later will never subside, neither increases nor is easy, it will just be there haunting thee for a life time like a big horrible, powerful devil who always sits by thy side and is ready to crush thee at any point of time. Good thing about pain is it makes human realise what is important in life and assuages worry caused by petty things and the con is that human can never know what he is afraid of in that pain. 
      </p>
      <p class="light" style = "text-indent: 30px;">
        Empathy is not just trying to think in the perspective of others, it is a process, it involves being patient, it involves listening to the other person, it involves going with his/her chain of thoughts and past experiences, his/her origin, culture, creed, analysing level of endurance and the list goes on. Only when we try to recognize some of these basic attributes of other person, then we can be empathetic to some extent.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Superficial emotional intelligence and nirvana funda put aside, how come a person not want what he wants or want what he do not want as some people tell others to do, it’s highly self contradictory.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Go neither in search of love nor strive for it, however don’t lose or ignore it when it comes in search of thee.
      </p>

      <p class="light" style = "text-indent: 30px;">
        After you go beyond everything, all you are left with is thee. There's nothing greater in the world than the energy flowing inside you. 
      </p>
      <p class="light" style = "text-indent: 30px;">
        Ironies of the century: <br>
          People are so busy with very important work all the time. <br>
          Now a days time wasted is time well spent. <br>
          Sometimes being insane is being sane. <br>
          People are so proud of what they happen to be by chance and say "I am proud to be an Indian, proud to be an Andhra guy, proud to be a bengali etc", but they feel ashamed to speak about what they have really achieved.
      </p>

      <p class="light" style = "text-indent: 30px;">
        Let's take a hypothetical situation where there exists almighty God and why don't people never think in this way; "What if God is bad and playing with us?" <br>

        Let's take another case where there is no God and nature is a kinda of chain where the contribution of each individual soul matters for the way the it behaves.  <br>

        Let's take another case where there is nothing supernatural and everything is just random. <br>

        Another case where God is there and he is good, but bad things happen anyway. <br>

        In all cases, only way to survive is collective effort, communication, compassion, empathy, understanding...
      </p>

      <p class="light" style = "text-indent: 30px;">
        Extension to Paulo Coelho's words:
        Warrior of light thinks that it will never happen again in his life, but it will happen with more intensity, yet he moves on. Sometimes that fragrance, those memories haunt him, yet he moves on. He thinks that he can control, but he will be devastated again, yet he moves on. He thinks that this will be the end of it, but deep down in his heart he knows that this is just a part of it. He thinks that it's not worth of what he is doing with his life for he don't even wake up in the morning with enthusiasm, yet he finds a way and moves on.
      </p>
      <p class="light" style = "text-indent: 30px;">
        If sometimes what we see is unreal for, some colors and things are not visible to the naked eye, we don’t have the knowledge of other worlds, then how can we decide what is real. We discovered many things, invented new things, Believed that what we are doing is real for, we have our own assumptions, facts and all. But never had found the answer for what life is and what we have to do. Nothing seems real in this world. but one aspect is for sure that I think life is not striving for it perpetually.
      </p>
      <p class="light" style = "text-indent: 30px;">
        What is love, Some people say our brain behaves pertaining to what it has gone through in the past and we behave accordingly, some say we can not define love, some psychologists made analysis of brain, made statistics, discovered patterns of thoughts of brain, invented new methodologies of how to analyse it, yet so powerful the brain is that it can not be understood for, there are infinitely many possible ways a person can think and there are infinitely many different kind of persons. Why can’t we control our sub-conscious mind with the conscious, even though we know that they are just memories by which we got the knowledge from eyes and, ears and touch, why can’t we erase them. If there is something greater that mind - soul, then what does it strive for and are we doing what is ought to be done here.
      </p>
      <p class="light" style = "text-indent: 30px;">
        May be it's time to change, patriotism is good to some extent, however at first people should realise that everyone is human being, then only there will be less bifurcations, wars, discriminations and can achieve peace.
      </p>
      <p class="light" style = "text-indent: 30px;">
        When every physical thing is ephemeral, why to strive for something.
      </p>
      <p class="light" style = "text-indent: 30px;">
        As time passes by, our memories become vague however the pain and feelings remain the same.
      </p>
      <p class="light" style = "text-indent: 30px;">
        My way of dealing with problems is to think about bigger problems and bigger cause by which other things seem petty.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Don’t give a fuck; for they don’t give a fuck, for what you’re going through.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Even when I am far from you, I can smell your fragrance, I can feel your warmth, I can see your smiling face, I can see your innocence.. You are the one I have in my heart.
      </p>
      <p class="light" style = "text-indent: 30px;">
        One of the most beautiful feel, One of the most beautiful smile, few of the most beautiful days, that pain, the heartbeat when I see that beauty,  it's all heavenly..
      </p>
      <!-- <p class="light" style = "text-indent: 30px;">
        There are lot of movies, books, different kinda people with different intellectual levels.. People say what is the pain in the heart. It's all crap.. People say it's just lust..  But there is always some feel which haunts us.. Which makes us not sleep..  Which makes us cry..  People just try to hide it.. They say that it's foolishness to have feelings.. May be.. May be not.. There is no assertion for any thing in the world..
      </p> -->
      <p class="light" style = "text-indent: 30px;">
        Our desires, preferences etc are impacted  by our culture, our parents, our experience in life, friends, relatives, time, location and what not and they have become biased. We never knew what we truly want. If we were in 18th century, we would be in the anticipation of having a telephone and it would have given us a lot of happiness and now we will not even satisfy with one iphone. Starting a startup may be our goal now, In those days may be they just want peaceful life with whatever job or business they do. If we were raised in poor family, our preferences will be quite different when compared to wealthy people. 
       Over the time we changed a lot, our experience impacted a lot on us. However few aspects like our passion towards love, arts, beauty etc didn’t change, they are there from inception and still persist. They are innate, our basic natural instincts and are quintessential for life.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Once there lived a beautiful woman who feels like she has every thing in the world and the happiest one for she has her baby which is the most wonderful and cute living thing to her that she devoted her life to her child. She raised her baby, gave him milk, felt happy by seeing her child grow, looked after him when he is not healthy, cooked for him, brought presents, taught him good manners, strived for her child to be the best and have respectable position in the society, cried many times for the sake of him, pacified him whenever he is in distress, always there with him holding his hand and showing the way and helped him in his difficult situations.
        After some days that kid got grown up and got married and slowly he's forgetting what he has been through in his childhood and what has happened and who were always there beside him in his life that he's completely racing against his life and perpetually working hard to make a better living for he has married and has a child to look after his'.
        After many years that beautiful woman who felt like, the one who is every thing to her, has left her and she is in great depression, dunno what to do. Her angel has left her and she has no one, for her life partner died a long ago and she has nothing to do with the life now and no one to care for she was left by her son with solitude.
        NEVER LEAVE YOUR PARENTS AND RESPECT ELDERS

      </p>
      <p class="light" style = "text-indent: 30px;">
        Don't let God play with your life, make him feel that you are playing well with his given life
      </p>
      <p class="light" style = "font-style: italic">
        Here we come onto earth, we<br>
        Think that love is an illness, we<br><br>

        Think that we will never fall into that trap, later we<br>
        Realize that we cannot obviate it, we <br><br>

        Fall in love, we think that it’s light, later we<br>
        Realize that it’s heavy, we<br><br>

        Think that it’s the most wonderful feeling, we <br>
        Feel the heart’s presence for the first time, we<br><br>

        Feel that unrequitted love is easy, later we<br>
        Realize that it’s not, we<br><br>

        Try to understand a girl’s heart, later we <br>
        Realize that there’s no enough time, later we<br><br>

        Regret for whatever we thought and ...
      </p>
      <p class="light" style = "text-indent: 30px;">
        For people in different world where there’s no advanced technology telepathy seems more realistic than speaking through mobiles for, they think that living entities who release electromagnetic waves perpetually can easily communicate with each other rather than through non living entities communicating through some artificial waves.
      </p>
      <p class="light" style = "text-indent: 30px;">
        The quintessence of movie making in india, especially tollywood movies is not motivating people, but to emphasize on how much the audience are willing to live vicariously.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Death is the only truth in life.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Death itself is inevitable, then what are you afraid of.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Life ends.
      </p>
      <p class="light" style = "text-indent: 30px;">
        After going through betrayal, seeing people act, seeing people trying to show off, seeing people trying to explain their beliefs without logic, seeing people's stupidity and laughing, seeing people being afraid of petty things, seeing people wanting to kill others, but cannot for the system of law, seeing people who tries to hurt for their sadistic feel, a human really gets fed up and tries to ignore everything and maybe laughs every now and then, and understands the meaning of the sentence "Ignorance is bliss".
      </p>

      <h4 id="fountain-head">
        Fountain head review
      </h4>

      <p class="light" style = "text-indent: 30px;">
        For the first time I wanted to write a review while/after reading a book.
        <br>Howard Roark is not just a character in the book, he is more than that, he’s the embodiment of Ayn Rand’s philosophy. He is un quivering force which cannot be moved to other’s will and can only manoeuvre by itself. He is not an egotist as the writer herself says in the introduction that she was not aware of the difference between egoist and egotist while she was writing the book. The book resonates with Ayn Rand’s ideology. I don’t agree with Ayn Rand calling objectivism as a philosophy. It’s not a philosophy, it’s the ultimate truth. This is the first book I ever read which is both fictional and non fictional.
        <br>Howard Roark! No explanations to fools, he just knows what to do with his life and what he wants in life. No one can change that. He can’t be moved. A person becomes like this when all the biases are removed and has his own passion, a complete rational being, the absolute human, the absolute talk, absolute sense. He is the purest form of soul who can not be manipulated by external beings or stupidity. I read few reviews which are against Ayn Rand as the book is way ahead of the time. This book will become more famous with time. 
      </p>

      <h4 id = "s-psyche">
        Psyche
      </h4>
      <p class="light" style = "text-indent: 30px;">
        Reeth stabbed himself. He was high with toxic materials in his body and is not so high that he will do stupid things by it, however the pain proliferated through his entire body that made him think to kill himself. He was not sure for what particular reason he stabbed himself for he has various variants of his only reason. He’s sitting in a dark room alone gazing at nothingness on a wall.
<br>He’s no more interested in anything else. He thought he’s so intelligent and can overcome
anything but got caught by stupidest and the most uncontrollable thing in the world.
<br>Not having power to modify the fate or people’s mind, he felt defeated in life. He really didn’t care about anything much in life and was a happy person like everyone else until one day he was swept away by an inexplicable feeling.
<br>His heart struggled to beat, blood started flowing from his body gradually. He’s still worried about that one thing in his life which he can’t have. He started to compare his physical pain with the other and trying to clear up his mind and tried to be happy atleast few minutes before his death.
      </p>
      <p class="light" style = "text-indent: 30px;">
        He still didn’t lose his consciousness, now he really didn’t care about future or past he’s trying to analyse himself. In retrospect, almost all the time he was in pain. He thought to himself, “I wanted many things in life and now I came to a situation where I only need one thing, maybe in future I will not want this also. That longingness, it feels like the whole universe is going against me”. Then again he smiled thinking about his own stupid thoughts.
<br>He thought “how can one not want what they want or want what they not want?”, this question really made him ponder over for a long time. He remembered all the emotional intelligence funda, but never could find any answer. He is still trying to find an answer. He thought at least he can think of the next best thing to do in life but couldn’t for he was totally into her. 
<br>All his life he laughed at problems except this. 
      </p>
      <p class="light" style = "text-indent: 30px;">
        He wakes up in hospital not knowing in which location he is, after travelling different places randomly without any plan at last he decided to take rest in that hotel and just let life make him do whatever it takes. Many a times he thought of just living and let the pain be there for whatever time it takes, but it didn’t leave him his entire life. The more he tried to control it or get rid of it, the more that feeling was covering him up in darkness, this is the reason he had let that pain be with him. 
<br>Years passed by and yet he’s in the same mood, it’s not like he wanted it, he wanted something else. What else he could do, runaway geographically, mentally? He tried that and wherever he goes, memories haunt him and there was never a place or time where he could be stable without thinking about her. After getting consciousness, he thought about, where he is, what he has to do or inform him friends or family about his whereabouts or to go back to his place. He had gone through all these thoughts but didn’t care much to do anything about them.
<br>He really didn’t care where he is for wherever he’s, he couldn’t get her, maybe it’s his ego or love or attraction or whatever, he just didn’t give a fuck. He just wanted to live a normal life. He couldn’t. He did many things to become busy, travelled many places to take mind off few things. Nothing did alleviate his pain.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Thinking that he is in control of everything, once swept away by the light of love and then swept away by heavy emptiness, thinking what is in the purview of his hands and what is not, thinking not knowing what to think, most of his memories fading away and few of his memories becoming intense, going through the inexplicable pain, wanting to discuss with fellow humans of what he is going through though knowing that it will be futile, never being afraid of anything much except the perpetual fear of not having that what he wants which he considers that it’s the only thing, he suffered in silence, in pain, in solitude, never knowing that he will experience this in his life, thinking that whether he can still bear this in this life.
      </p>

      <h4 id = "s-reasoning">
        Reasoning of thoughts
      </h4>

      <p class="light" style = "text-indent: 30px;">
        After living in this world for a considerable amount of time, I think with enough maneuvering we can get rid of extra unnecessary thoughts that have been hovering in our mind for a long time.
      </p>
      
      <p class="light" style = "text-indent: 30px;">
        You can find the root of your thought within no time if you think about your thinking. It's like learning history and applying it in the current situations of the world. One of my senior in my childhood once told me that the reason we should not neglect the subject of history is by learning it, we can compare and analyse current situations with respect to the past, gain insight and maybe prevent some future unwanted happenings. We can come up with new ideas to prevent wars.
      </p>

      <p class="light" style = "text-indent: 30px;">
        In a similar fashion we can analyse our thoughts. Just by knowing the root of our thought by backtracking, analysing ourself and others in the previous situation and realizing how stupid we and others are, will really alleviate our mind.
      </p>

      <p class="light" style = "text-indent: 30px;">
        If you are capable of being ignorant in some aspects which are not needed, then there is nothing needed to do and you are lucky.
      </p>

      <h4 id = "beautiful-words">
        beAutiful words:
      </h4>
      <p class = "light">
        dolce far niente: sweetness of doing nothing (Italian)
      </p>
      <p class = "light">
        Nakama: more than a friend, more than a team-mate (japanese)
      </p>
      <p class = "light">
        Kanpai: cheers(japanese)
      </p>

      <h4 id = "s-ayn-rand">
        Ayn Rand:
      </h4>
      <p class = "light">
        Religions monopoly in the field of ethics has made it extremely difficult to communicate the emotional meaning and connotations of a rational view of life.
      </p>
      <p class = "light">
        He bent the branch slowly into an arc. “Now I can make what I want of if: a bow, a spear, a  cane, a railing. That’s the meaning of life.”
      </p>
      <p class = "light">
        Suffering that only went down to a certain point.
      </p>

      <h4 id = "s-marcus-aurelius">
        Marcus Aurelius:
      </h4>
      <p class = "light">
        Nothing outside of yourself should have power or friction over your peace.
      </p>
      <p class = "light">
        If it’s in your control, why do you do it? If it’s in someone else’s control, then who are you blaming? Atoms? The gods? Stupid either way. Blame no one.
      </p>
      <p class = "light">
        You want praise from people who kick themselves every fifteen minutes, the approval of people who despise themselves.
      </p>
      <h4 id = "paulo-coelho">
        Paulo coelho
      </h4>
      <p class="light" style = "text-indent: 30px;">
        “Love is an untamed force. When we try to control it, it destroys us. When we try to
  imprison it, it enslaves us. When we try to understand it, it leaves us feeling lost and
  confused.
      </p>
      <p class="light" style = "text-indent: 30px;">
         If you are not willing to sound stupid, you don't deserve to be in love.
      </p>
      <p class="light" style = "text-indent: 30px;">
        “If someone is capable of loving his partner without restrictions, unconditionally, then he
  is manifesting the love of God. If the love of God becomes manifest, he will love his
  neighbor. If he loves his neighbor, he will love himself. If he loves himself, then
  everything returns to its proper place. History changes.”
      </p>
      <h4 id = "dale-carnegie">
        Dale Carnegie
      </h4>
      <p class="light" style = "text-indent: 30px;">
        America's most notorious public enemy - the most sinister gang leader, didn't condemn himself. He actually regarded himself as a public benefactor-- an unappreciated and misunderstood benefactor.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Animal rewarded for good behaviour will learn much more rapidly and retain what it learns far more effectively than an animal punished for bad behaviour
      </p>
      <p class="light" style = "text-indent: 30px;">
        I don't see how I could have done any differently from what I have.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Judge not, that ye be not judged.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Don't judge them; they are just what we would be under similar circumstances.
      </p>
      <p class="light" style = "text-indent: 30px;">
        "Don't complain about the snow on your neighbor's roof, when your own doorstep is clean.
      </p>
      <p class="light" style = "text-indent: 30px;">
        When dealing with people, let us remember we are not dealing with creatures of logic. We are dealing with creatures of emotion, creatures bristling with prejudices and motivated by pride and vanity.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Any fool can criticize, condemn and complain and most fools do, but it takes character and self control to be understanding and forgiving.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Let's try to figure out why they do what they do.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Don't criticize, condemn or complain.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Make other person want to do it instead of forcing.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Sigmund freud said that everything you and I do springs from two motives; the sex urge and the desire to be great.
      </p>
      <p class="light" style = "text-indent: 30px;">
        There are more patients suffering from mental diseases in the US than from all other diseases combined.
      </p>
      <p class="light" style = "text-indent: 30px;">
        "I consider my ability to arouse enthusiasm among my people," said Schwab, "the greatest asset I possess, and the way to develop the best that is in a person is by appreciation and encouragement."
      </p>
      <p class="light" style = "text-indent: 30px;">
        Here lies one who knew how to get around him men who are cleverer than himself.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Wives ran away? It was "lack of appreciation"
      </p>
      <p class="light" style = "text-indent: 30px;">
        We provide them with roast beef and potatoes to build energy, but we neglect to give them kind words of appreciation.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Appreciation is sincere and flattery is insincere.
      </p>
      <p class="light" style = "text-indent: 30px;">
        We should never forget that all our associated are human beings and hunger for appreciation.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Emerson said: "Every man I meet is my superior in some way. In that, I learn of him".
      </p>
      <p class="light" style = "text-indent: 30px;">
        Give honest and sincere appreciation.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Action springs out of what we fundamentally desire.
      </p>
      <p class="light" style = "text-indent: 30px;">
        I talked all the time about what the other person wanted and how he could get it.
      </p>
      <p class="light" style = "text-indent: 30px;">
        If there's any secret of success, it lies in the ability to get the other person's point of view and see things from that person's angle as well as from your own.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Self expression is the dominant necessity of human nature.
      </p>
      <p class="light" style = "text-indent: 30px;">
        First arouse in the other person an eager want. He who can do this has the whole world with him. He who cannot walks a lonely way.
      </p>
      <p class="light" style = "text-indent: 30px;">
        People are not interested in you. They are not interested in me. They are interested in themselves-- morning, noon and after dinner.
      </p>
      <p class="light" style = "text-indent: 30px;">
        The New York Telephone company made a detailed study of telephone conversations to find out which word is most frequently used. You have guessed it; it is the personal pronoun “I”, “I”, “I”.
      </p>
      <p class="light" style = "text-indent: 30px;">
        We are interested in others when they are interested in us.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Become genuinely interested in other people.
      </p>
      <p class="light" style = "text-indent: 30px;">
        “There is nothing either good or bad,” said Shakespeare” “but thinking makes it so.”
      </p>
      <p class="light" style = "text-indent: 30px;">
        Abe Lincoln once remarked that “most folks are about as happy as they make up their minds to be.”
      </p>
      <p class="light" style = "text-indent: 30px;">
        Smile.
      </p>
      <p class="light" style = "text-indent: 30px;">
        One of the first lessons a politician learns is this: “To recall a voter’s name is statesmanship. To forget it is oblivion.”
      </p>
      <p class="light" style = "text-indent: 30px;">
        Remember that a person’s name is to that person the sweetest and most important sound in any language.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Keen listening is one of the highest compliments we can pay anyone.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Hearty in approbation and lavish in my praise
      </p>
      <p class="light" style = "text-indent: 30px;">
        A person’s toothache means more to that person than a famine in China which kills a million people.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Be a good listener. Encourage others to talk about themselves.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Talk in terms of other person’s interest.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Always make the other person feel important.
      </p>
      <p class="light" style = "text-indent: 30px;">
        The deepest principle in human nature is the craving to be appreciated.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Do unto others as you would have others do unto you.
      </p>
      <p class="light" style = "text-indent: 30px;">
        The unvarnished truth is that almost all the people you meet feel themselves superior to you in some way, and a sure way to their hearts is to let them realize in some subtle way that you recognize their importance and recognize it sincerely.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Talk to people about themselves and they will listen for hours.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Make the other person feel important--and do it sincerely.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Avoid argument as you would avoid rattle-snakes and earthquakes.
      </p>
      <p class="light" style = "text-indent: 30px;">
        If you argue and rankle and contradict, you may achieve a victory sometimes; but it will be an empty victory because you will never get your opponent’s good will.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Buddha said: “Hatred is never ended by hatred buy by love,” and a misunderstanding is never ended by an argument but by tact, diplomacy, conciliation and a sympathetic desire to see the other person’s view-point.
      </p>
      <p class="light" style = "text-indent: 30px;">
        The only way to get the best of an argument is to avoid it.
      </p>
      <p class="light" style = "text-indent: 30px;">
        You cannot teach a man anything; you can only help him to find it within himself.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Be wiser than other people if you can; but do not tell them so.
      </p>
      <p class="light" style = "text-indent: 30px;">
        One thing only I know, and that is that I know nothing.
      </p>
      <p class="light" style = "text-indent: 30px;">
        The little word “my” is the most important one in human affairs, and properly to reckon with it is the beginning of wisdom.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Jesus said: “Agree with thine adversary quickly”
      </p>
      <p class="light" style = "text-indent: 30px;">
        Show respect for the other person’s opinions. Never say, “You’re wrong”
      </p>
      <p class="light" style = "text-indent: 30px;">
        Remember what Lincoln said: “A drop of honey catches more flies than a gallon of gall.”
      </p>
      <p class="light" style = "text-indent: 30px;">
        Begin in a friendly way.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Get the other person saying “Yes, Yes” immediately.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Let the other person do a great deal of talking.
      </p>
      <p class="light" style = "text-indent: 30px;">
        We much prefer to feel that we are buying of our own accord or acting on our own ideas.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Let the other person feel that the idea is his or hers.
      </p>
      <p class="light" style = "text-indent: 30px;">
        There is a reason why the other man thinks and acts as he does. Ferret out that reason--and you have the key to his actions, perhaps to his personality.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Try honestly to see things from other person’s point of view.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Be sympathetic with the other person’s ideas and desires.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Appeal to the nobler motives.
      </p>
      <p class="light" style = "text-indent: 30px;">
        The manufacturers of a new rat poison gave dealers a window display that included two live rats. The the rats were shown, sales zoomed to five times their normal rate.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Dramatize your ideas.
      </p>
      <p class="light" style = "text-indent: 30px;">
        “The way to get things done,” say Schwab, “is to stimulate competition. I do not mean in a sordid, money-getting way, but in the desire to excel.”
      </p>
      <p class="light" style = "text-indent: 30px;">
        Successful person loves: the game.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Throw down a challenge.
      </p>
      <h4 id = "unsorted">
        Unsorted
      </h4>
      <p class="light" style = "text-indent: 30px;">
        We don't read and write poetry because it's cute. We read and write poetry because we are members of the human race. And the human race is filled with passion. And medicine, law, business, engineering, these are noble pursuits and necessary to sustain life. But poetry, beauty, love, these are what we stay alive for _Dead poets society
      </p>
      <p class="light" style = "text-indent: 30px;">
        The richest person in the world is not who has much, but is the one who needs the least.
      </p>
      <p class="light" style = "text-indent: 30px;">
        “There are no strangers here; Only friends you haven’t yet met,” William Butler Yeats once said on Friendship. And indeed he said the truth.
      </p>
      <p class="light" style = "text-indent: 30px;">
        The epitaph of the person who works too hard too often is "Got everything done; died anyway.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Every saint has a past and every sinner has a future.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Death is always sitting by your side so that, when you need to do something important, it will give you the strength and courage you need.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Use the 80/20 rule to your advantage. The rule says that 20% of the causes gives 80% of the effects. So always spend your attention on the top 20% things which give the most returns.
      </p>
      <p class="light" style = "text-indent: 30px;">
        “You think your pain and your heartbreak are unprecedented in the history of the world, but then you read. It was books that taught me that the things that tormented me most were the very things that connected me with all the people who were alive, who had ever been alive.” -James Baldwin
      </p>
    </div>




