<div class = "s-common-tab-div-content">
	<h4>In tune with nature:</h4>
	<img src = "https://scontent.fblr2-1.fna.fbcdn.net/v/t31.0-8/19944574_1421376141262881_6911853846913247738_o.jpg?oh=59fc47d9099999414837266f07258866&oe=5A5D4122" alt = "intune" style = "max-width: 100%"/>
	<ul>
		<li>Walk barefoot on the earth. (Earth)</li>
		<li>Spend time next to bodies of water. (Water)</li>
		<li>Allow yourself some time in the sun. (Fire)</li>
		<li>Spend time in vegetation or wooded areas. (Air)</li>
		<li>Stargaze at night. (Space)</li>
	</ul>          
</div>