<div class = "s-common-tab-div-content">
    <h4>Farmers:</h4>
    <p class = "light">
      India is an agrarian country with around 60% of its people depending directly or indirectly upon agriculture.
    </p>
    <p class = "light">
      From 1995 to 2013, a total of 296,438 Indian farmers committed suicide.
    </p>
    <p class = "light">
      As of 2017, one Indian farmer commits suicide every 30 minutes, due to a number of reasons including inadequate prices at the market, lack of government support, an extremely low government MSP (Minimum support price) and the vicious spiral of private money lenders and loans that the farmer is unable to pay back due to the above.
    </p>
    <!-- <div id = 'farmers-graph'></div> -->
    <h4 class = "s-to-solve-sub-header">Poverty: </h4>
    <p class = "light">
      India has the second highest unequal economic distribution after Russia, where 74.5% of the country’s wealth is owned by the top 1% population.
    </p>
    <div class = "s-people-money-container">
      <div class = "s-people-container">
        <span class = "s-population">Population</span>
        <div class = "s-people-one">
        </div>
        <div class = "s-people-two">
        </div>
      </div>
      <div class = "s-money-container">
        <span class = "s-money">Money distribution</span>
        <div class = "s-money-one">
        </div>
        <div class = "s-money-two">
        </div>
      </div>
    </div>
    <p class = "light">
      The bottom half (50%) of the population owns only 2.1% of the wealth.
    </p>
    <p class = "light">
      Top 10% own 80.7% of the wealth.
    </p>
  <h4 class = "s-to-solve-sub-header">
    Environment
  </h4>
  <div>
    <iframe width="500px" height="400"
    src="https://www.youtube.com/embed/nLVdqnQPS7c">
    </iframe>
  </div>
  
  <h4 class = "s-to-solve-sub-header">
    Health
  </h4>
  
  <h4 class = "s-to-solve-sub-header">
    Education
  </h4>
</div>