<div class = "row s-common-tab-div-content" style = "margin-top: 20px;">
          <div class = "col s12 m4">
        
          <img src = "http://i63.tinypic.com/2lw94j7.jpg" 
               class="responsive-img myImageContainer" 
               alt="Srikanth" >
          </div>  
          <div class = "col s12 m8">
            <div class = "homePageContent">
            <h2> Srikanth Kumar </h2>
            <h3> FULL STACK DEVELOPER </h3>
            <div class = "row homePageContentHaves">
              <div class = "col s4">
                Passionate
              </div>
              <div class = "col s4">
                Diligent
              </div>
              <div class = "col s4">
                Creative
              </div>
            </div>
          </div>
          <div class = "row homePageContentInfo">
            <div class = "row">
              <div class = "col-md-6">
                <div class = "row homePageContentRow">
                  <div class = "col-md-3 homePageSideHeading">
                    E-mail:
                  </div>
                  <div class = "col-md-9 homePageValue">
                    srikanthbarenkala@gmail.com
                  </div>
                </div>
              </div>
              <div class = "col-md-6">
                <div class = "row homePageContentRow">
                  <div class = "col-md-3 homePageSideHeading">
                    Address: 
                  </div>
                  <div class = "col-md-9 homePageValue">
                    Bangalore
                  </div>
                </div>
                <div class = "row homePageContentRow">
                  <div class = "col-md-3 homePageSideHeading">
                    Website: 
                  </div>
                  <div class = "col-md-9 homePageValue">
                    www.srikanthkumar.com
                  </div>
                </div>
                <div class = "row homePageContentRow">
                  <div class = "col-md-3 homePageSideHeading">
                    Git: 
                  </div>
                  <div class = "col-md-9 homePageValue">
                    <a href = "https://github.com/sree2chin/" target="_blank">https://github.com/sree2chin/</a>
                  </div>
                </div>
                <div class = "row homePageContentRow">
                  <div class = "col-md-3 homePageSideHeading">
                    LinkedIn: 
                  </div>
                  <div class = "col-md-9 homePageValue">
                    <a href = "https://www.linkedin.com/in/srikanth-kumar-barenkala-b0145578/" target="_blank">https://www.linkedin.com/in/srikanth-kumar-barenkala-b0145578/</a>
                  </div>
                </div>
                
                <div class = "row homePageContentRow">
                  <div class = "col-md-3 homePageSideHeading">
                    Languages: 
                  </div>
                  <div class = "col-md-9 homePageValue">
                    Telugu, Hindi, English
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          
          
          </div>     
        </div> 