<div class = "row s-common-tab-div-content s-common-tab-whoami" style = "margin-top: 20px;">
  <div class = "row">
    <div class = "col s12 m4">
      <img src = "https://i.postimg.cc/MGWpnNLD/279315-175678355832672-2379357-o.jpg" 
          class="responsive-img myImageContainer" 
          alt="Srikanth" >
    </div>  
    <div class = "col s12 m8">
      <div class = "homePageContent">
      <h2> Srikanth Kumar </h2>
      <h3> FULL STACK DEVELOPER </h3>
      <div class = "row homePageContentHaves">
        <div class = "col s4">
          Passionate
        </div>
        <div class = "col s4">
          Diligent
        </div>
        <div class = "col s4">
          Creative
        </div>
      </div>
    </div>
  </div>
  <div class = "row homePageContentInfo">
    <div class = "row">
      <div class = "col-md-6">
        <div class = "row homePageContentRow">
          <div class = "col-md-3 homePageSideHeading">
            E-mail:
          </div>
          <div class = "col-md-9 homePageValue">
            srikanthbarenkala@gmail.com
          </div>
        </div>
      </div>
      <div class = "col-md-6">
        <div class = "row homePageContentRow">
          <div class = "col-md-3 homePageSideHeading">
            Address: 
          </div>
          <div class = "col-md-9 homePageValue">
            Bangalore
          </div>
        </div>
        <div class = "row homePageContentRow">
          <div class = "col-md-3 homePageSideHeading">
            Website: 
          </div>
          <div class = "col-md-9 homePageValue">
            www.srikanthkumar.com
          </div>
        </div>
        <div class = "row homePageContentRow">
          <div class = "col-md-3 homePageSideHeading">
            Git: 
          </div>
          <div class = "col-md-9 homePageValue">
            <a href = "https://github.com/sree2chin/" target="_blank">https://github.com/sree2chin/</a>
          </div>
        </div>
        <div class = "row homePageContentRow">
          <div class = "col-md-3 homePageSideHeading">
            LinkedIn: 
          </div>
          <div class = "col-md-9 homePageValue">
            <a href = "https://www.linkedin.com/in/srikanth-kumar-barenkala-b0145578/" target="_blank">https://www.linkedin.com/in/srikanth-kumar-barenkala-b0145578/</a>
          </div>
        </div>
        
        <div class = "row homePageContentRow">
          <div class = "col-md-3 homePageSideHeading">
            Languages: 
          </div>
          <div class = "col-md-9 homePageValue">
            Telugu, Hindi, English and beginner level Thai.
          </div>
        </div>

        <div class = "row homePageContentRow">
          <div class = "col-md-3 homePageSideHeading">
            Certifications: 
          </div>
          <div class = "col-md-9 homePageValue">
            <a href = "https://udemy-certificate.s3.amazonaws.com/image/UC-9XADPP8I.jpg">
              <img class="s-certificate" src = "https://udemy-certificate.s3.amazonaws.com/image/UC-9XADPP8I.jpg"
                alt="The Web Developer Bootcamp" />
            </a>
          </div>
          <div class = "col-md-9 homePageValue">
             <a href='https://postimg.cc/phMXss2M' target='_blank'><img class="s-certificate" src='https://i.postimg.cc/vBcgHKkT/Barenkala-Srikanth-Kumar.jpg' alt='Barenkala-Srikanth-Kumar'/></a>
          </div>

          <div class = "col-md-9 homePageValue">
            <a href='https://s3.amazonaws.com/coursera_assets/meta_images/generated/CERTIFICATE_LANDING_PAGE/CERTIFICATE_LANDING_PAGE~KN6LLXMV32ED/CERTIFICATE_LANDING_PAGE~KN6LLXMV32ED.jpeg' target='_blank'>
              <img class="s-certificate" src='https://s3.amazonaws.com/coursera_assets/meta_images/generated/CERTIFICATE_LANDING_PAGE/CERTIFICATE_LANDING_PAGE~KN6LLXMV32ED/CERTIFICATE_LANDING_PAGE~KN6LLXMV32ED.jpeg' alt='Leadership Skills - IIM-A'/>
            </a>
          </div>
          <div class = "col-md-9 homePageValue">
            <a href='https://s3.amazonaws.com/coursera_assets/meta_images/generated/CERTIFICATE_LANDING_PAGE/CERTIFICATE_LANDING_PAGE~SQMVULFG855M/CERTIFICATE_LANDING_PAGE~SQMVULFG855M.jpeg' target='_blank'>
              <img class="s-certificate" src='https://s3.amazonaws.com/coursera_assets/meta_images/generated/CERTIFICATE_LANDING_PAGE/CERTIFICATE_LANDING_PAGE~SQMVULFG855M/CERTIFICATE_LANDING_PAGE~SQMVULFG855M.jpeg' alt='Relational Database Design'/>
            </a>
          </div>
          <div class = "col-md-9 homePageValue">
            <a href='https://s3.amazonaws.com/coursera_assets/meta_images/generated/CERTIFICATE_LANDING_PAGE/CERTIFICATE_LANDING_PAGE~OOXF0CH14KET/CERTIFICATE_LANDING_PAGE~OOXF0CH14KET.jpeg' target='_blank'>
              <img class="s-certificate" src='https://s3.amazonaws.com/coursera_assets/meta_images/generated/CERTIFICATE_LANDING_PAGE/CERTIFICATE_LANDING_PAGE~OOXF0CH14KET/CERTIFICATE_LANDING_PAGE~OOXF0CH14KET.jpeg' alt='Client Needs and Software Requirements'/>
            </a>
          </div>
          <!-- <div class = "col-md-9 homePageValue">
             <a href='https://www.hackerrank.com/certificates/3d1798cfdb75' target='_blank'><img class="s-certificate" src='https://i.postimg.cc/13H0g2P9/download.png' alt='Barenkala-Srikanth-Kumar'/></a>
          </div>      -->
        </div>
        
      </div>
    </div>
  </div>
  
  
  </div>     
</div> 