<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>


</head>
<body>
  
  <div class = "s-main-carousel-container"> 
    <ul id="tabs-swipe-demo" class="tabs" style = "text-align: center;">
      <li class="tab col s3"><a href="#test-swipe-1">Writes</a></li>
      <li class="tab col s3"><a class="active" href="#test-swipe-2">Who Am I</a></li>
      <li class="tab col s3"><a href="#test-swipe-3">Art</a></li>
      <li class="tab col s3"><a href="#test-swipe-4">Resume</a></li>
      <li class="tab col s3"><a href="#test-swipe-5">Issues</a></li>
      <li class="tab col s3"><a href="#test-swipe-6">Portfolio</a></li>
    </ul>
    <div id="test-swipe-1" class="col s12" style = "width:100%;">
      <div class = "s-common-tab-div-content">
      <p class = "light">Unrequited love, undisguised frustration, loving hate, serious vanity, misshapen chaos, perpetual bliss, excruciating pain, chronic desolation</p>
      <h3>Self</h3>
      <p class="light" style = "text-indent: 30px;">
           An angel with innocent eyes and heavenly smile has been descended to earth letting me contemplate her exquisite beauty, made my soulless soul soulful, made my heart take over my consciousness, making me realise that this incarnation is not about petty worries but about love.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Extension to Paulo Coelho's words:
        Warrior of light thinks that it will never happen again in his life, but it will happen with more intensity, yet he moves on. Sometimes that fragrance, those memories haunt him, yet he moves on. He thinks that he can control, but he will be devastated again, yet he moves on. He thinks that this will be the end of it, but deep down in his heart he knows that this is just a part of it. He thinks that it's not worth of what he is doing with his life for he don't even wake up in the morning with enthusiasm, yet he finds a way and moves on.
      </p>
      <p class="light" style = "text-indent: 30px;">
        If sometimes what we see is unreal for, some colors and things are not visible to the naked eye, we don’t have the knowledge of other worlds, then how can we decide what is real. We discovered many things, invented new things, Believed that what we are doing is real for, we have our own assumptions, facts and all. But never had found the answer for what life is and what we have to do. Nothing seems real in this world. but one aspect is for sure that I think life is not striving for it perpetually.
      </p>
      <p class="light" style = "text-indent: 30px;">
        What is love, Some people say our brain behaves pertaining to what it has gone through in the past and we behave accordingly, some say we can not define love, some psychologists made analysis of brain, made statistics, discovered patterns of thoughts of brain, invented new methodologies of how to analyse it, yet so powerful the brain is that it can not be understood for, there are infinitely many possible ways a person can think and there are infinitely many different kind of persons. Why can’t we control our sub-conscious mind with the conscious, Though there are many in the world, why do we strive only for one, even though we know that they are just memories by which we got the knowledge from eyes and, ears and touch, why can’t we erase them. If there is something greater that mind - soul, then what does it strive for and are we doing what is ought to be done here.
      </p>
      <p class="light" style = "text-indent: 30px;">
        May be it's time to change, patriotism is good to some extent, however at first people should realise that everyone is human being, then only there will be less bifurcations, wars, discriminations and can achieve peace.
      </p>
      <p class="light" style = "text-indent: 30px;">
        When every physical thing is ephemeral, why to strive for something.
      </p>
      <p class="light" style = "text-indent: 30px;">
        As time passes by, our memories become vague however the pain and feelings remain the same.
      </p>
      <p class="light" style = "text-indent: 30px;">
        What is so great or fun in sacrificing yourself for yourselves.
      </p>
      <p class="light" style = "text-indent: 30px;">
        My way of dealing with problems is to think about bigger problems and bigger cause by which other things seem petty.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Don’t give a fuck; for they don’t give a fuck, for what you’re going through.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Even when I am far from you, I can smell your fragrance, I can feel your warmth, I can see your smiling face, I can see your innocence.. You are the one I have in my heart.
      </p>
      <p class="light" style = "text-indent: 30px;">
        One of the most beautiful feel, One of the most beautiful smile, few of the most beautiful days, that pain, the heartbeat when I see that beauty,  it's all heavenly..
      </p>
      <p class="light" style = "text-indent: 30px;">
        There are lot of movies, books, different kinda people with different intellectual levels.. People say what is the pain in the heart. It's all crap.. People say it's just lust..  But there is always some feel which haunts us.. Which makes us not sleep..  Which makes us cry..  People just try to hide it.. They say that it's foolishness to have feelings.. May be.. May be not.. There is no assertion for any thing in the world..
      </p>
      <p class="light" style = "text-indent: 30px;">
        Our desires, preferences etc are impacted  by our culture, our parents, our experience in life, friends, relatives, time, location and what not and they have become biased. We never knew what we truly want. If we were in 18th century, we would be in the anticipation of having a telephone and it would have given us a lot of happiness and now we will not even satisfy with one iphone. Starting a startup may be our goal now, In those days may be they just want peaceful life with whatever job or business they do. If we were raised in poor family, our preferences will be quite different when compared to wealthy people. 
       Over the time we changed a lot, our experience impacted a lot on us. However few aspects like our passion towards love, arts, beauty etc didn’t change, they are there from inception and still persist. They are innate, our basic natural instincts and are quintessential for life.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Once there lived a beautiful woman who feels like she has every thing in the world and the happiest one for she has her baby which is the most wonderful and cute living thing to her that she devoted her life to her child. She raised her baby, gave him milk, felt happy by seeing her child grow, looked after him when he is not healthy, cooked for him, brought presents, taught him good manners, strived for her child to be the best and have respectable position in the society, cried many times for the sake of him, pacified him whenever he is in distress, always there with him holding his hand and showing the way and helped him in his difficult situations.
        After some days that kid got grown up and got married and slowly he's forgetting what he has been through in his childhood and what has happened and who were always there beside him in his life that he's completely racing against his life and perpetually working hard to make a better living for he has married and has a child to look after his'.
        After many years that beautiful woman who felt like, the one who is every thing to her, has left her and she is in great depression, dunno what to do. Her angel has left her and she has no one, for her life partner died a long ago and she has nothing to do with the life now and no one to care for she was left by her son with solitude.
        NEVER LEAVE YOUR PARENTS AND RESPECT ELDERS

      </p>
      <p class="light" style = "text-indent: 30px;">
        Don't let God play with your life, make him feel that you are playing well with his given life
      </p>
      <p class="light" style = "font-style: italic">
        Here we come onto earth, we
        Think that love is an illness, we

        Think that we will never fall into that trap, later we
        Realize that we cannot obviate it, we 

        Fall in love, we think that it’s light, later we
        Realize that it’s heavy, we

        Think that it’s the most wonderful feeling, we 
        Feel the heart’s presence for the first time, we

        Feel that unrequitted love is easy, later we
        Realize that it’s not, we

        Try to understand a girl’s heart, later we 
        Realize that there’s no enough time, later we

        Regret for whatever we thought and we die.
      </p>
      <p class="light" style = "text-indent: 30px;">
        For people in different world where there’s no advanced technology telepathy seems more realistic than speaking through mobiles for, they think that living entities who release electromagnetic waves perpetually can easily communicate with each other rather than through non living entities communicating through some artificial waves.
      </p>
      <p class="light" style = "text-indent: 30px;">
        The quintessence of movie making in india, especially tollywood movies is not motivating people, but to emphasize on how much the audience are willing to live vicariously.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Death itself is inevitable, then what are you afraid of.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Life ends.
      </p>
      <h3>
        beAutiful words:
      </h3>
      <p class = "light">
        dolce far niente: sweetness of doing nothing (Italian)
      </p>
      <p class = "light">
        Nakama: more than a friend, more than a team-mate (japanese)
      </p>
      <p class = "light">
        Kanpai: cheers(japanese)
      </p>
      <h3>
        Paulo coelho
      </h3>
      <p class="light" style = "text-indent: 30px;">
        “Love is an untamed force. When we try to control it, it destroys us. When we try to
  imprison it, it enslaves us. When we try to understand it, it leaves us feeling lost and
  confused.
      </p>
      <p class="light" style = "text-indent: 30px;">
         If you are not willing to sound stupid, you don't deserve to be in love.
      </p>
      <p class="light" style = "text-indent: 30px;">
        “If someone is capable of loving his partner without restrictions, unconditionally, then he
  is manifesting the love of God. If the love of God becomes manifest, he will love his
  neighbor. If he loves his neighbor, he will love himself. If he loves himself, then
  everything returns to its proper place. History changes.”
      </p>
      <h3>
        Dale Carnegie
      </h3>
      <p class="light" style = "text-indent: 30px;">
        America's most notorious public enemy - the most sinister gang leader, didn't condemn himself. He actually regarded himself as a public benefactor-- an unappreciated and misunderstood benefactor.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Animal rewarded for good behaviour will learn much more rapidly and retain what it learns far more effectively than an animal punished for bad behaviour
      </p>
      <p class="light" style = "text-indent: 30px;">
        I don't see how I could have done any differently from what I have.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Judge not, that ye be not judged.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Don't judge them; they are just what we would be under similar circumstances.
      </p>
      <p class="light" style = "text-indent: 30px;">
        "Don't complain about the snow on your neighbor's roof, when your own doorstep is clean.
      </p>
      <p class="light" style = "text-indent: 30px;">
        When dealing with people, let us remember we are not dealing with creatures of logic. We are dealing with creatures of emotion, creatures bristling with prejudices and motivated by pride and vanity.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Any fool can criticize, condemn and complain and most fools do, but it takes character and self control to be understanding and forgiving.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Let's try to figure out why they do what they do.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Don't criticize, condemn or complain.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Make other person want to do it instead of forcing.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Sigmund freud said that everything you and I do springs from two motives; the sex urge and the desire to be great.
      </p>
      <p class="light" style = "text-indent: 30px;">
        There are more patients suffering from mental diseases in the US than from all other diseases combined.
      </p>
      <p class="light" style = "text-indent: 30px;">
        "I consider my ability to arouse enthusiasm among my people," said Schwab, "the greatest asset I possess, and the way to develop the best that is in a person is by appreciation and encouragement."
      </p>
      <p class="light" style = "text-indent: 30px;">
        Here lies one who knew how to get around him men who are cleverer than himself.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Wives ran away? It was "lack of appreciation"
      </p>
      <p class="light" style = "text-indent: 30px;">
        We provide them with roast beef and potatoes to build energy, but we neglect to give them kind words of appreciation.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Appreciation is sincere and flattery is insincere.
      </p>
      <p class="light" style = "text-indent: 30px;">
        We should never forget that all our associated are human beings and hunger for appreciation.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Emerson said: "Every man I meet is my superior in some way. In that, I learn of him".
      </p>
      <p class="light" style = "text-indent: 30px;">
        Give honest and sincere appreciation.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Action springs out of what we fundamentally desire.
      </p>
      <p class="light" style = "text-indent: 30px;">
        I talked all the time about what the other person wanted and how he could get it.
      </p>
      <p class="light" style = "text-indent: 30px;">
        If there's any secret of success, it lies in the ability to get the other person's point of view and see things from that person's angle as well as from your own.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Self expression is the dominant necessity of human nature.
      </p>
      <p class="light" style = "text-indent: 30px;">
        First arouse in the other person an eager want. He who can do this has the whole world with him. He who cannot walks a lonely way.
      </p>
      <p class="light" style = "text-indent: 30px;">
        People are not interested in you. They are not interested in me. They are interested in themselves-- morning, noon and after dinner.
      </p>
      <p class="light" style = "text-indent: 30px;">
        The New York Telephone company made a detailed study of telephone conversations to find out which word is most frequently used. You have guessed it; it is the personal pronoun “I”, “I”, “I”.
      </p>
      <p class="light" style = "text-indent: 30px;">
        We are interested in others when they are interested in us.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Become genuinely interested in other people.
      </p>
      <p class="light" style = "text-indent: 30px;">
        “There is nothing either good or bad,” said Shakespeare” “but thinking makes it so.”
      </p>
      <p class="light" style = "text-indent: 30px;">
        Abe Lincoln once remarked that “most folks are about as happy as they make up their minds to be.”
      </p>
      <p class="light" style = "text-indent: 30px;">
        Smile.
      </p>
      <p class="light" style = "text-indent: 30px;">
        One of the first lessons a politician learns is this: “To recall a voter’s name is statesmanship. To forget it is oblivion.”
      </p>
      <p class="light" style = "text-indent: 30px;">
        Remember that a person’s name is to that person the sweetest and most important sound in any language.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Keen listening is one of the highest compliments we can pay anyone.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Hearty in approbation and lavish in my praise
      </p>
      <p class="light" style = "text-indent: 30px;">
        A person’s toothache means more to that person than a famine in China which kills a million people.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Be a good listener. Encourage others to talk about themselves.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Talk in terms of other person’s interest.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Always make the other person feel important.
      </p>
      <p class="light" style = "text-indent: 30px;">
        The deepest principle in human nature is the craving to be appreciated.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Do unto others as you would have others do unto you.
      </p>
      <p class="light" style = "text-indent: 30px;">
        The unvarnished truth is that almost all the people you meet feel themselves superior to you in some way, and a sure way to their hearts is to let them realize in some subtle way that you recognize their importance and recognize it sincerely.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Talk to people about themselves and they will listen for hours.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Make the other person feel important--and do it sincerely.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Avoid argument as you would avoid rattle-snakes and earthquakes.
      </p>
      <p class="light" style = "text-indent: 30px;">
        If you argue and rankle and contradict, you may achieve a victory sometimes; but it will be an empty victory because you will never get your opponent’s good will.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Buddha said: “Hatred is never ended by hatred buy by love,” and a misunderstanding is never ended by an argument but by tact, diplomacy, conciliation and a sympathetic desire to see the other person’s view-point.
      </p>
      <p class="light" style = "text-indent: 30px;">
        The only way to get the best of an argument is to avoid it.
      </p>
      <p class="light" style = "text-indent: 30px;">
        You cannot teach a man anything; you can only help him to find it within himself.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Be wiser than other people if you can; but do not tell them so.
      </p>
      <p class="light" style = "text-indent: 30px;">
        One thing only I know, and that is that I know nothing.
      </p>
      <p class="light" style = "text-indent: 30px;">
        The little word “my” is the most important one in human affairs, and properly to reckon with it is the beginning of wisdom.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Jesus said: “Agree with thine adversary quickly”
      </p>
      <p class="light" style = "text-indent: 30px;">
        Show respect for the other person’s opinions. Never say, “You’re wrong”
      </p>
      <p class="light" style = "text-indent: 30px;">
        Remember what Lincoln said: “A drop of honey catches more flies than a gallon of gall.”
      </p>
      <p class="light" style = "text-indent: 30px;">
        Begin in a friendly way.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Get the other person saying “Yes, Yes” immediately.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Let the other person do a great deal of talking.
      </p>
      <p class="light" style = "text-indent: 30px;">
        We much prefer to feel that we are buying of our own accord or acting on our own ideas.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Let the other person feel that the idea is his or hers.
      </p>
      <p class="light" style = "text-indent: 30px;">
        There is a reason why the other man thinks and acts as he does. Ferret out that reason--and you have the key to his actions, perhaps to his personality.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Try honestly to see things from other person’s point of view.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Be sympathetic with the other person’s ideas and desires.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Appeal to the nobler motives.
      </p>
      <p class="light" style = "text-indent: 30px;">
        The manufacturers of a new rat poison gave dealers a window display that included two live rats. The the rats were shown, sales zoomed to five times their normal rate.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Dramatize your ideas.
      </p>
      <p class="light" style = "text-indent: 30px;">
        “The way to get things done,” say Schwab, “is to stimulate competition. I do not mean in a sordid, money-getting way, but in the desire to excel.”
      </p>
      <p class="light" style = "text-indent: 30px;">
        Successful person loves: the game.
      </p>
      <p class="light" style = "text-indent: 30px;">
        Throw down a challenge.
      </p>
      <p class="light" style = "text-indent: 30px;">
        
      </p>
      <p class="light" style = "text-indent: 30px;">
        
      </p>
      <p class="light" style = "text-indent: 30px;">
        
      </p>
      <p class="light" style = "text-indent: 30px;">
        
      </p>
      <p class="light" style = "text-indent: 30px;">
        
      </p>
      <p class="light" style = "text-indent: 30px;">
        
      </p>
      <p class="light" style = "text-indent: 30px;">
        
      </p>
      <p class="light" style = "text-indent: 30px;">
        
      </p>
      <p class="light" style = "text-indent: 30px;">
        
      </p>

    </div>
    </div>
    <div id="test-swipe-2" class="col s12" style = "width:100%;">
        <div class = "row s-common-tab-div-content" style = "margin-top: 20px;">
          <div class = "col s12 m4">
        
          <img src = "http://i63.tinypic.com/2lw94j7.jpg" 
               class="responsive-img myImageContainer" 
               alt="Srikanth" >
          </div>  
          <div class = "col s12 m8">
            <div class = "homePageContent">
            <h2> Srikanth Kumar </h2>
            <h3> FULL STACK DEVELOPER </h3>
            <div class = "row homePageContentHaves">
              <div class = "col s4">
                Passionate
              </div>
              <div class = "col s4">
                Diligent
              </div>
              <div class = "col s4">
                Creative
              </div>
            </div>
          </div>
          <div class = "row homePageContentInfo">
            <div class = "row">
              <div class = "col-md-6">
                <div class = "row homePageContentRow">
                  <div class = "col-md-3 homePageSideHeading">
                    E-mail:
                  </div>
                  <div class = "col-md-9 homePageValue">
                    srikanthbarenkala@gmail.com
                  </div>
                </div>
                <div class = "row homePageContentRow ">
                  <div class = "col-md-3 homePageSideHeading">
                    Phone:
                  </div>
                  <div class = "col-md-9 homePageValue">
                    +91-9986906066
                  </div>
                </div>
              </div>
              <div class = "col-md-6">
                <div class = "row homePageContentRow">
                  <div class = "col-md-3 homePageSideHeading">
                    Address: 
                  </div>
                  <div class = "col-md-9 homePageValue">
                    Bangalore
                  </div>
                </div>
                <div class = "row homePageContentRow">
                  <div class = "col-md-3 homePageSideHeading">
                    Website: 
                  </div>
                  <div class = "col-md-9 homePageValue">
                    www.srikanthkumar.com
                  </div>
                </div>
                <div class = "row homePageContentRow">
                  <div class = "col-md-3 homePageSideHeading">
                    Languages: 
                  </div>
                  <div class = "col-md-9 homePageValue">
                    Telugu, Hindi, English
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          </div>     
        </div> 
        
    </div>
    <div id="test-swipe-3" class="col s12" style = "width:100%;">
      <div class = "s-common-tab-div-content">
        <img src = "http://i64.tinypic.com/zn9b9j.jpg" 
               class="responsive-img s-image" 
               alt="Kate" >
         <img src = "http://i65.tinypic.com/2usj2f8.jpg" 
               class="responsive-img s-image" 
               alt="scene" >
         <img src = "http://i65.tinypic.com/2dh70xj.jpg" 
               class="responsive-img s-image" 
               alt="scene" >
         <img src = "http://i66.tinypic.com/2dkbdx4.jpg" 
               class="responsive-img s-image" 
               alt="Angelina" >
         <img src = "http://i64.tinypic.com/99fhfl.jpg" 
               class="responsive-img s-image" 
               alt="Titanic" >
         <img src = "http://i68.tinypic.com/t024cp.jpg" 
               class="responsive-img s-image" 
               alt="Emma" >

         <img src = "http://i66.tinypic.com/2vhvu6c.jpg" 
               class="responsive-img s-image" 
               alt="Britney" >
        <img src = "http://i68.tinypic.com/2lm01lz.jpg" 
               class="responsive-img s-image" 
               alt="Marion" >

        <img src = "http://i65.tinypic.com/2f0eyyp.jpg" 
               class="responsive-img s-image" 
               alt="Emma" >
        <img src = "http://i68.tinypic.com/103yfc9.jpg" 
               class="responsive-img s-image" 
               alt="hand" >

        <img src = "http://i63.tinypic.com/2m5i4vp.jpg" 
               class="responsive-img s-image" 
               alt="Kate" >

        <img src = "http://i67.tinypic.com/5lb1gp.jpg" 
               class="responsive-img s-image" 
               alt="Emma" >

        <img src = "http://i64.tinypic.com/6c69.jpg" 
               class="responsive-img s-image" 
               alt="Emma" >

        <img src = "http://i67.tinypic.com/2n8soxt.jpg" 
               class="responsive-img s-image" 
               alt="xxx" >

        <img src = "http://i63.tinypic.com/v79zyb.jpg" 
               class="responsive-img s-image" 
               alt="Sakura" >

        <img src = "http://i66.tinypic.com/2nu0yoj.jpg" 
               class="responsive-img s-image" 
               alt="Pregnant" >

        <img src = "http://i68.tinypic.com/2lt4x05.jpg" 
               class="responsive-img s-image" 
               alt="Skin" >

        <img src = "http://i68.tinypic.com/4ubd5y.jpg" 
               class="responsive-img s-image" 
               alt="Monica" >

        <img src = "http://i65.tinypic.com/10e1sfq.jpg" 
               class="responsive-img s-image" 
               alt="Emma" >
      </div>

    </div>
    <div id="test-swipe-4" class="col s12" style = "width:100%;">
      <div class = "s-common-tab-div-content">
        updating..
      </div>
    </div>
    <div id="test-swipe-5" class="col s12" style = "width:100%;">
      <div class = "s-common-tab-div-content">
        <p>
          Poverty: 
          <p class = "light">
            India has the second highest unequal economic distribution after Russia, where 74.5% of the country’s wealth is owned by the top 1% population.
          </p>
          <p class = "light">
            The bottom half (50%) of the population owns only 2.1% of the wealth.
          </p>
          <p class = "light">
            Top 10% own 80.7% of the wealth.
          </p>
        </p>
        <p>
          Environment
        </p>
        <p>
          Health
        </p>
        <p>
          Farmers:
          <p class = "light">
            India is an agrarian country with around 60% of its people depending directly or indirectly upon agriculture.
          </p>
          <p class = "light">
            From 1995 to 2013, a total of 296,438 Indian farmers committed suicide.
          </p>
          <p class = "light">
            As of 2017, one Indian farmer commits suicide every 30 minutes, due to a number of reasons including inadequate prices at the market, lack of government support, an extremely low government MSP (Minimum support price) and the vicious spiral of private money lenders and loans that the farmer is unable to pay back due to the above.
          </p>

        </p>
        <p>
          Education
        </p>
      </div>
    </div>
    <div id="test-swipe-6" class="col s12" style = "width:100%;">
      <div class = "s-common-tab-div-content">
          <div class="row">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">POC - watslife</span>
                  <p>Social network platform where people can connect and find solutions to problem based on tag based search</p>
                </div>
                <div class="card-action">
                  <a href="https://github.com/sree2chin/hello_app3">Git</a>
                  <a href="http://www.watslife.com/">Demo</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">POC - Smarter delivery and pick up</span>
                  <p>Automation of fetching user addresses from database and rendering the maps with optimized route and route segments which can be useful to any delivery app.</p>
                </div>
                <div class="card-action">
                  <a href="http://smarterdelivery.mybluemix.net/myretrieveaction.action">Demo</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">JS - snippet</span>
                  <p>Common code which is useful to rename keys based on mapper</p>
                </div>
                <div class="card-action">
                  <a href="https://github.com/sree2chin/jscode">Git</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>




  



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
