<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Srikanth Kumar</title>
  <meta name="description" content="Srikanth Kumar website. Srikanth Kumar portfolio"/>
  <meta name="keywords" content="Srikanth Kumar, Srikanth, kumar, Srikanth Kumar website"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>


</head>
<body>
  
  <div class = "s-main-carousel-container"> 
    <ul id="tabs-swipe-demo" class="tabs" style = "text-align: center;">
      <li class="tab col s3">
        <a class="active" href="#test-swipe-1">ARTS</a>
        <!-- <a class="active" href="#test-swipe-1">
          <div class="wrap">
            <div class="cube">
              <div class="front">
                <img src = "http://i64.tinypic.com/zn9b9j.jpg" 
                     class="responsive-img" 
                     alt="Kate" >
              </div>
              <div class="back">
                
              </div>
              <div class="top">
                
              </div>
              <div class="bottom">
                
              </div>
              <div class="left">
                <img src = "http://i65.tinypic.com/2usj2f8.jpg" 
                     class="responsive-img" 
                     alt="images" >
              </div>
              <div class="right"></div>
            </div>
          </div>
        </a> -->
      </li>
      <li class="tab col s3"><a href="#test-swipe-2">Writes</a></li>
      <li class="tab col s3">
        <a href="#test-swipe-3">
          Who Am I
        </a>
      </li>
      <li class="tab col s3"><a href="#test-swipe-4">Resume</a></li>
      <li class="tab col s3 s-to-solve-tab"><a href="#test-swipe-5">To solve</a></li>
      <li class="tab col s3"><a href="#test-swipe-6">Portfolio</a></li>
    </ul>
    <div id="test-swipe-1" class="col s12 s-main-container" style = "width:100%;">
      <div class = "s-common-tab-div-content">
        <div class = "s-grid-outer-container">
          <div class = "s-grid-inner-container">
          
          </div>
        </div>
        <a id = "s-dynamic-img-href" href = "http://i64.tinypic.com/zn9b9j.jpg" target = "_blank">
          <img src = "http://i64.tinypic.com/zn9b9j.jpg" 
               class="responsive-img s-dynamic-image s-image" 
               id = "s-common-image-tag"
               alt="image" >
          <img src = "http://i64.tinypic.com/zn9b9j.jpg" 
           class="responsive-img s-dynamic-image2 s-image" 
           id = "s-common-image-tag"
           alt="image" >
        </a>
        <a href = "http://i64.tinypic.com/zn9b9j.jpg" target = "_blank">
        <img src = "http://i64.tinypic.com/zn9b9j.jpg" 
               class="responsive-img s-image s-image-margin-special" 
               alt="Kate">
             </a>
         <a href = "http://i65.tinypic.com/2usj2f8.jpg" target = "_blank">
             <img src = "http://i65.tinypic.com/2usj2f8.jpg" 
                   class="responsive-img s-image" 
                   alt="scene" >
         </a>
         <a href = "http://i65.tinypic.com/2dh70xj.jpg" target = "_blank">
           <img src = "http://i65.tinypic.com/2dh70xj.jpg" 
                 class="responsive-img s-image" 
                 alt="scene" >
         </a>
         <a href = "http://i66.tinypic.com/2dkbdx4.jpg" target = "_blank">
            <img src = "http://i66.tinypic.com/2dkbdx4.jpg" 
               class="responsive-img s-image" 
               alt="Angelina" >
         </a>
         <a href = "http://i64.tinypic.com/99fhfl.jpg" target = "_blank">
            <img src = "http://i64.tinypic.com/99fhfl.jpg" 
               class="responsive-img s-image" 
               alt="Titanic" >
         </a>
         <a href = "http://i68.tinypic.com/t024cp.jpg" target = "_blank">
           <img src = "http://i68.tinypic.com/t024cp.jpg" 
                 class="responsive-img s-image" 
                 alt="Emma" >
         </a>
         <a href = "http://i66.tinypic.com/2vhvu6c.jpg" target = "_blank">
            <img src = "http://i66.tinypic.com/2vhvu6c.jpg" 
               class="responsive-img s-image" 
               alt="Britney" >
         </a>
         <a href = "http://i68.tinypic.com/2lm01lz.jpg" target = "_blank">
            <img src = "http://i68.tinypic.com/2lm01lz.jpg" 
               class="responsive-img s-image" 
               alt="Marion" >
         </a>
         <a href = "http://i65.tinypic.com/2f0eyyp.jpg" target = "_blank">
            <img src = "http://i65.tinypic.com/2f0eyyp.jpg" 
               class="responsive-img s-image" 
               alt="Emma" >
         </a>
         <a href = "http://i68.tinypic.com/103yfc9.jpg" target = "_blank">
            <img src = "http://i68.tinypic.com/103yfc9.jpg" 
               class="responsive-img s-image" 
               alt="hand" >
         </a>
         <a href = "http://i63.tinypic.com/2m5i4vp.jpg" target = "_blank">
            <img src = "http://i63.tinypic.com/2m5i4vp.jpg" 
                   class="responsive-img s-image" 
                   alt="Kate" >
         </a>
         <a href = "http://i67.tinypic.com/5lb1gp.jpg" target = "_blank">
            <img src = "http://i67.tinypic.com/5lb1gp.jpg" 
               class="responsive-img s-image" 
               alt="Emma" >
         </a>
         <a href = "http://i64.tinypic.com/6c69.jpg" target = "_blank">
            <img src = "http://i64.tinypic.com/6c69.jpg" 
                   class="responsive-img s-image" 
                   alt="Emma" >
         </a>
         <a href = "http://i67.tinypic.com/2n8soxt.jpg" target = "_blank">
            <img src = "http://i67.tinypic.com/2n8soxt.jpg" 
                   class="responsive-img s-image" 
                   alt="xxx" >
         </a>
         <a href = "http://i63.tinypic.com/v79zyb.jpg" target = "_blank">
            <img src = "http://i63.tinypic.com/v79zyb.jpg" 
               class="responsive-img s-image" 
               alt="Sakura" >
         </a>
         <a href = "http://i66.tinypic.com/2nu0yoj.jpg" target = "_blank">
            <img src = "http://i66.tinypic.com/2nu0yoj.jpg" 
               class="responsive-img s-image" 
               alt="Pregnant" >
         </a>
         <a href = "http://i68.tinypic.com/2lt4x05.jpg" target = "_blank">
            <img src = "http://i68.tinypic.com/2lt4x05.jpg" 
                   class="responsive-img s-image" 
                   alt="Skin" >
         </a>
         <a href = "http://i68.tinypic.com/4ubd5y.jpg" target = "_blank">
            <img src = "http://i68.tinypic.com/4ubd5y.jpg" 
                   class="responsive-img s-image" 
                   alt="Monica" >
         </a>
         <a href = "http://i65.tinypic.com/10e1sfq.jpg" target = "_blank">
          <img src = "http://i65.tinypic.com/10e1sfq.jpg" 
                 class="responsive-img s-image" 
                 alt="Emma" >
         </a>
      </div>

    </div>
    <div id="test-swipe-2" class="col s12 s-main-container" style = "width:100%;">
            
        <% include partials/_writes %>
        
    </div>
    <div id="test-swipe-3" class="col s12 s-main-container" style = "width:100%;">
      <% include partials/whoami %>

    </div>
    <div id="test-swipe-4" class="col s12 s-main-container" style = "width:100%;">
      <div class = "s-common-tab-div-content">
        updating..
      </div>
    </div>
    <div id="test-swipe-5" class="col s12 s-main-container" style = "width:100%;">
      <div class = "s-common-tab-div-content">
          <h4>Farmers:</h4>
          <p class = "light">
            India is an agrarian country with around 60% of its people depending directly or indirectly upon agriculture.
          </p>
          <p class = "light">
            From 1995 to 2013, a total of 296,438 Indian farmers committed suicide.
          </p>
          <p class = "light">
            As of 2017, one Indian farmer commits suicide every 30 minutes, due to a number of reasons including inadequate prices at the market, lack of government support, an extremely low government MSP (Minimum support price) and the vicious spiral of private money lenders and loans that the farmer is unable to pay back due to the above.
          </p>
          <div id = 'farmers-graph'></div>
          <h4>Poverty: </h4>
          <p class = "light">
            India has the second highest unequal economic distribution after Russia, where 74.5% of the country’s wealth is owned by the top 1% population.
          </p>
          <div class = "s-people-money-container">
            <div class = "s-people-container">
              <span class = "s-population">Population</span>
              <div class = "s-people-one">
              </div>
              <div class = "s-people-two">
              </div>
            </div>
            <div class = "s-money-container">
              <span class = "s-money">Money distribution</span>
              <div class = "s-money-one">
              </div>
              <div class = "s-money-two">
              </div>
            </div>
          </div>
          <p class = "light">
            The bottom half (50%) of the population owns only 2.1% of the wealth.
          </p>
          <p class = "light">
            Top 10% own 80.7% of the wealth.
          </p>
        <h4>
          Environment

          
        </h4>
        <div>
          <iframe width="500px" height="400"
          src="https://www.youtube.com/embed/nLVdqnQPS7c">
          </iframe>
        </div>
        <h4>
          Health
        </h4>
        
        <h4>
          Education
        </h4>
      </div>
    </div>
    <div id="test-swipe-6" class="col s12 s-main-container" style = "width:100%;">
      <div class = "s-common-tab-div-content">
          <div class="row">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">POC - watslife</span>
                  <p>Social network platform where people can connect and find solutions to problem based on tag based search</p>
                </div>
                <div class="card-action">
                  <a href="https://github.com/sree2chin/hello_app3">Git</a>
                  <a href="http://www.watslife.com/">Demo</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">POC - Smarter delivery and pick up</span>
                  <p>Automation of fetching user addresses from database and rendering the maps with optimized route and route segments which can be useful to any delivery app.</p>
                </div>
                <div class="card-action">
                  <a href="http://smarterdelivery.mybluemix.net/myretrieveaction.action">Demo</a>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">JS - snippet</span>
                  <p>Common code which is useful to rename keys based on mapper</p>
                </div>
                <div class="card-action">
                  <a href="https://github.com/sree2chin/jscode">Git</a>
                </div>
              </div>
            </div>
          </div>-->

          <div class="row">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Simulations</span>
                  <p>For easy learning</p>
                </div>
                <div class="card-action">
                  <a href="/simulations">Demo</a>
                </div>
              </div>
            </div>
          </div> 

          </div>
      </div>
    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/other.js"></script>
  <!-- load the d3.js library -->    
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="js/d3Code.js"></script>

  </body>
</html>
