<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Srikanth Kumar</title>
  <meta name="description" content="Srikanth Kumar website. Srikanth Kumar portfolio"/>
  <meta name="keywords" content="Srikanth Kumar, Srikanth, kumar, Srikanth Kumar website"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>


</head>
<body>
  
  <div id = "s-root" class = "s-main-carousel-container"> 
    Hello
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
 

  </body>
</html>
