<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Srikanth Kumar</title>
  <meta name="description" content="Srikanth Kumar website. Srikanth Kumar portfolio"/>
  <meta name="keywords" content="Srikanth Kumar, Srikanth, kumar, Srikanth Kumar website"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/simulation.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script>
  	var interval = 2000;
  	var N = 10;
  	var n = 2;
  	var res = N;
  	var isEnabled = true;

	var appendDiv = function(n) {
		var $div = $('<div class = "s-rec-call-block" id = "s-rec-'+n+'">');
    	$div.text("calls findSumOfNaturalNumbers(" + n + ")");
    	$(".s-rec-call-stack").append($div);
	}
	var normalFindSum = function(n) {
		var s = 0;
		for(var i = 1; i <= n; i++) {
			s = s + i;
		}
		return s;
	}
	var revertDivs = function() {
		var j = 1;
		for(var i = 1; i <= N; i++) {
			setTimeout(function(){
				setTimeout(function(){
					$('#s-rec-'+(j)).css("background","#ccb4bb");
					$('#s-rec-'+(j)).addClass("s-rec-down-arrow");
					$('#s-rec-'+(j)).text("returns: "+normalFindSum(j-1) + " + " + j );
				}, interval/2)
				
				$('#s-rec-'+(j)).remove();
				if(j == N) {
					$('.s-rec-result').text(normalFindSum(j));
					isEnabled = true;
					$(".s-run-btn").attr("disabled", false);
				}
				j++;
			}, i*interval)
		}
	}
  	var findSumOfNaturalNumbers = function(n) {
  		isEnabled = false;
  		$(".s-run-btn").attr("disabled", true);
  		// console.log("coming to findSumOfNaturalNumbers");
  		return new Promise(function (resolve) {
	        setTimeout(function(){
	  			// appending div
	  			appendDiv(n);
	  			if(n == 1) {
		  			resolve(1);
		  		} else {
		  			resolve(n-1); 
		  		}
	  		}.bind(this), interval/3) 
	    }).then(function (result) {
	    	res = res + result;
	    	if(result != 1) {
	        	findSumOfNaturalNumbers(result);
	        } else {
	        	setTimeout(function(){
	        		appendDiv(1);
	        		revertDivs();
	        	}, interval/3)
	        	console.log("finished")
	        }
	        console.log('res:', res);
	    }).catch(function(error){
	    	console.log("error", error);
	    });
  					
  	}
  	// findSumOfNaturalNumbers(N);
  	var findSumOfNaturalNumbersBtn = function() {
  		N = $(".s-rec-input-dropdown").val();
  		findSumOfNaturalNumbers(N);
  	}
  </script>

</head>
<body class = "s-simulations-cont">
<h3 style = "text-align: center;" class = "s-simulations-heading"> <a href = "/" style = "font-size: 18px; float: left;">Go home</a>Simulations for beginners </h3>

<div class = "row">
	<h5 style = "font-size: 18px;">Understand recursion (sum of n natural numbers):</h5>
	<div class = "s-rec-simulation-container">
		<div class = "s-rec-call-code-outer">
			<h5 class = "s-rec-block-heading">Code</h5>
			<div class = "s-rec-call-code">
				<p class = "s-code-line">var findSumOfNaturalNumbers = function(n) { </p>
			  		<p class = "s-code-line" style = "padding-left:10px;">if(n == 1) { //base case</p>
			  			<p class = "s-code-line" style = "padding-left:20px;">return 1; </p>
			  		<p class = "s-code-line" style = "padding-left:10px;">} else {</p>
			  			<p class = "s-code-line" style = "padding-left:20px;">return <span class = "s-rec-func">findSumOfNaturalNumbers(n-1)</span> + n; </p>
			  		<p class = "s-code-line" style = "padding-left:10px;">} </p>
			  	<p class = "s-code-line">}</p>
			</div>
		</div>
		<div class = "s-rec-call-stack-outer">
			<h5 class = "s-rec-block-heading">Call stack</h5>
			<div class = "s-rec-call-stack">
				
			</div>
		</div>
		<div class = "s-rec-call-stack-outer">
			<h5  class = "s-rec-block-heading">Interact</h5>
			<div class = "s-rec-interact">
				<select class = "s-rec-input-dropdown">
					<%for(var i = 2; i <= 10; i++) {%>
						<option value = <%= i%> > <%= i%>
						</option>
					<%}%>
				</select>
				<a class="waves-effect waves-light btn-large s-run-btn" 
				   href="#"
				   onclick = "findSumOfNaturalNumbersBtn()">
					Run
				</a>
				<h6>Final result: <span class = "s-rec-result"></span></h6>
			</div>
		</div>
	</div>

</div>

<div class = "row s-log-outer-container" style = "margin-bottom: 40px;">
	<h5 style = "font-size: 18px; margin-top: 40px;">Understand exponentiation and logarithm:</h5>
	<h6 class = "s-log-inner-heading">Exponential <sub> base 2</sub></h6>
	<div class = "row s-log-inner-container">
	  <div class = "s-log-each-row s-log-each-row-1" style = "width: 8px;">
	    <div class = "s-small-box">
	    </div>
	  </div>
	  <div class = "s-log-each-row s-log-each-row-1" style = "width: 16px;">
	    <div class = "s-small-box">
	    </div><div class = "s-small-box">
	    </div>
	  </div>
	  <div class = "s-log-each-row s-log-each-row-2" style = "width: 32px;">
	    <div class = "s-small-box">
	    </div><div class = "s-small-box">
	    </div><div class = "s-small-box">
	    </div><div class = "s-small-box">
	    </div>
	  </div>
	  <div class = "s-log-each-row s-log-each-row-3" style = "width: 64px;">
	    <div class = "s-small-box">
	    	<% for(var i = 0; i < 7; i++) { %>
	    		</div><div class = "s-small-box">
	    	<% } %>
	    </div>
	  </div>
	  
	  <div class = "s-log-each-row s-log-each-row-1" style = "width: 128px;">
	    <div class = "s-small-box">
	    	<% for(var i = 0; i < 15; i++) { %>
	    		</div><div class = "s-small-box">
	    	<% } %>
	    </div>
	  </div>
	  <div class = "s-log-each-row s-log-each-row-2" style = "width: 256px;">
	    <div class = "s-small-box">
	    	<% for(var i = 0; i < 31; i++) { %>
	    		</div><div class = "s-small-box">
	    	<% } %>
	    
	    </div>
	  </div>
	  <div class = "s-log-each-row s-log-each-row-3" style = "width: 512px;">
	    <div class = "s-small-box">
	    	<% for(var i = 0; i < 63; i++) { %>
	    		</div><div class = "s-small-box">
	    	<% } %>
	    </div>
	  </div>
	  <div class = "s-log-each-row s-log-each-row-0" style = "width: 1024px;">
	    <div class = "s-small-box">
	    	<% for(var i = 0; i < 127; i++) { %>
	    		</div><div class = "s-small-box">
	    	<% } %>
	    </div>
	  </div>
	  <p style = "text-align: center">.</p>
	  <p style = "text-align: center">.</p>
	  <p style = "text-align: center">65536</p>
	</div>   

	<div class = "row s-log-inner-container">
	  <h6 class = "s-log-inner-heading">Logarithmic <sub> base 2</sub></h6>  
	  <div class = "s-log-each-row s-log-each-row-log-1" style = "width: 128px;">
	    <div class = "s-small-box">
	    	<% for(var i = 0; i < 15; i++) { %>
	    		</div><div class = "s-small-box">
	    	<% } %>
	    </div>
	  </div><div class = "s-log-each-row s-log-each-row-log-2" style = "width: 64px;">
	    <div class = "s-small-box">
	    	<% for(var i = 0; i < 7; i++) { %>
	    		</div><div class = "s-small-box">
	    	<% } %>
	    </div>
	  </div><div class = "s-log-each-row s-log-each-row-log-3" style = "width: 32px;">
	    <div class = "s-small-box">
	    </div><div class = "s-small-box">
	    </div><div class = "s-small-box">
	    </div><div class = "s-small-box">
	    </div>
	  </div><div class = "s-log-each-row s-log-each-row-log-4" style = "width: 16px;">
	    <div class = "s-small-box">
	    </div><div class = "s-small-box">
	    </div>
	  </div><div class = "s-log-each-row s-log-each-row-log-0" style = "width: 8px;">
	    <div class = "s-small-box">
	    </div>
	  </div>
	</div> 

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/other.js"></script>

  </body>
</html>