<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Srikanth Kumar | Unexpected Journey</title>
<meta name="description" content="Srikanth Kumar website. Srikanth Kumar portfolio Unexpected Journey story"/>
<meta name="keywords" content="Srikanth Kumar, Srikanth, kumar, Srikanth Kumar website story Unexpected Journey"/>
<link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
  <body>
    <h2 style = "text-align: center;" class = "s-simulations-heading"> 
        <a href = "/">
            Srikanth
        </a>Unexpected Journey </h2>
    <%- include('partials/_unexpected_journey') %>
  </body>
</html>

